span {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px;
	text-transform: uppercase;
}

.blue {
	background-color: #d3e0f4;
	color: #000000;
}

.green {
	background-color: #94cd8a;
	color: #000000;
}

.red {
	background-color: #efcad5;
	color: #000000;
}

.orange {
	background-color: #fbd4c5;
	color: #000000;
}

.purple {
	background-color: #e8d6e2;
	color: #000000;
}

