<!doctype html>
<html style="visibility: visible;"><head><meta http-equiv="Author" content="BIOMED IT Team :: Mustafa Sualp, Steve Detofsky, Wayne Hill, David Myers">
  <meta name="KeyWords" content=", biomedical engineering, nanotechnology, bionanotechnology, bionano, nanobiotechnology, nanobio technology, nano technology, bioengineering, bioengineer, medical engineering, biomed, biomedical, biomedical science, biomedical scientist, technology medicine, technology in medicine, technology and medicine, engineering biomedicine, engineering in biomedicine, engineering and biomedicine, biomedicine, biomedical technology, engineering medicine, engineering in medicine, engineering and medicine, bioscience, biomedical science, biotechnology, health, systems, health systesm, education, technology biomedicine, technology in biomedicine, technology and biomedicine, Drexel, business, education, engineering, technology, medicine, nursing, public health, computing, information technology, co-op, co-operative education, career services, philadelphia, pennsylvania, higher education, college, university, technical education, medical students, Career Development Center, Career management">
  <meta name="Description" content="Through excellence in teaching and learning, scholarship and research, and co-operative education, the overall objective of the School of Biomedical Engineering, Science and Health Systems is to offer multidisciplinary programs with a core curriculum and research in Biomedical engineering and science.">
  
  <title>Drexel BIOMED Website</title>
  <link href="http://www.biomed.drexel.edu/new04/Styles/BIOMED.css" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script language="javascript" src="http://www.biomed.drexel.edu/new04/scripts/drexel.js"></script>
    <script language="javascript" src="http://www.biomed.drexel.edu/new04/scripts/fixPNG.js"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-48789419-1', 'drexel.edu');
      ga('send', 'pageview');

    </script>
  <!-- INCL: Menu Script -->
  <!-- MENU SCRIPT -->
    <script language="javascript" src="javascripts/all.js"></script>
    <link href="http://www.biomed.drexel.edu/new04/styles/drexel.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/normalize.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/email.css" rel="stylesheet" type="text/css">


<!-- Start Content-->
<style type="text/css"></style></head><body><table border="0" cellpadding="0" cellspacing="0" align="center" width="770">
  <tbody><tr>
    <td height="25">
    
    
    <!-- Start Drexel University Header Bar --> 
              <div id="drexelHeader">
                <div id="drexelImage"><img src="http://www.biomed.drexel.edu/new04/Images/transparent.png" alt="" height="25" width="85"></div>

                <div id="drexelLinks"><a href="http://www.drexel.edu/" class="separator" style="
                    font-size:11; 
                    padding-top: 1px; 
                    padding-left: 15px; 
                    float:left;
                    vertical-align: middle;
                    letter-spacing: 0.75px;">
                    
                    Drexel Home</a><a href="http://www.drexel.edu/guide/sitemap/default.aspx" style="
                    font-size:11; 
                    padding-top: 1px; 
                    padding-left: 15px; 
                    float:left;
                    vertical-align: middle;
                    letter-spacing: 0.75px;">Site Map</a></div>
                    
                    
                <div id="drexelSearch">
                  <input type="text" size="14" id="tbSearch" title="Search Drexel.edu" name="search" value="Search Drexel...">
                  <a href="#" tabindex="9" class="tight none">
                    <img id="tbSearchButton" src="http://www.biomed.drexel.edu/new04/images/template/drexel/submit_button.png" alt="Search" style="border-width: 0pt; margin-bottom: -5px;" onclick="drexel_head.InitSearch();"><!--onload="fixPNG(this);"-->
                  </a>
                </div>
                <div id="drexelGoTo">

                  <select name="drexelGoTo" id="drexel_sel_goto">
                    <option value="">Go to...</option>
                    <option value="http://www.drexel.edu/academics/schools.aspx">Colleges/Schools</option>
                    <option value="http://www.drexel.edu/about/offices-departments.aspx">Office/Departments</option>
                    <option value="http://www.drexel.edu/academics/faculty.aspx">Faculty (by School)</option> 
                    <option value="http://www.drexel.edu/studentlife/organizations.aspx">Student Organizations</option>
                  </select>

                  <a href="#" tabindex="9" class="tight none">
                    <img src="http://www.biomed.drexel.edu/new04/images/template/drexel/submit_button.png" alt="Search" style="border-width: 0pt; margin-bottom: -5px;" onclick="drexel_head.doGoTo();"><!--onload="fixPNG(this);"-->
                  </a>
                        
                </div>
                     <!-- <div align="right" style="padding-top:5px;"><a href="http://deptapp.drexel.edu/ia/GOL/giftsonline1.asp?specinst=CA-BME-UNR&specinstruct=BIOMED" class="gift">Make a Gift</a></div> -->
              </div>
               
                <!-- End Drexel University Header Bar --> 


    </td>
    </tr>
    <tr>
    <td>
      <div align="left"><a id="box-link2" href="http://www.biomed.drexel.edu/new04/default.cfm"></a></div>
        <!-- STA: 2 - Main Layers -->
    
          <table border="0" cellpadding="0" cellspacing="0" width="770" height="86">
                    
          <tbody><tr> 
              <!-- STA: 4 - Header LEFT -->
              <td height="110" valign="top" background="images/biobackground_05.jpg">
                         
                        
                        <div align="right" class="direct style1"><a href="http://www.biomed.drexel.edu/new04/Content/Search/" class="direct">Search BIOMED</a>&nbsp;<font class="direct">|&nbsp;<a href="http://www.biomed.drexel.edu/new04/content/academics/faculty/" class="direct">Faculty Directories</a></font></div><font class="direct">                    </font></td>
                          
            </tr><tr>
              <td colspan="2" height="22" width="1001" align="CENTER">
                <!-- Begin Menu -->
                                
                                <table width="770" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d8dcdd" class="top">
<tbody><tr height="22">
<td valign="bottom" width="14">

  
</td>
  <td valign="middle" width="*" class="BIOMEDTopNav">
  
  
<!-- Menu Bar -->
<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/default.cfm">BIOMED Home &gt;&gt;</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/overview" onmouseover="return buttonClick(event, 'item1');">Who We Are</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty" onmouseover="return buttonClick(event, 'item2');">Faculty</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/ResearchPort/" onmouseover="return buttonClick(event, 'item3');">Research</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/academic_programs/" onmouseover="return buttonClick(event, 'item4');">Undergraduate Program</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/" onmouseover="return buttonClick(event, 'item5');">Graduate Programs</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/" onmouseover="return buttonClick(event, 'item9');">Students</a>&nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/Alumni_Directory/default.cfm" onmouseover="return buttonClick(event, 'item6');">Alumni</a> &nbsp;|&nbsp;<a class="BiomedTopNav" href="http://www.biomed.drexel.edu/new04/Content/Contact_Us">Contact Us</a>

<!-- &nbsp;|&nbsp;<a  CLASS="BiomedTopNav"
href="./Content/temp/mockupv2"
onmouseover="return buttonClick(event, 'item7');"
>News, Seminars, &amp; Events</a> -->
<!-- &nbsp;|&nbsp;<a  CLASS="BiomedTopNav"
href="./Content/temp/mockupv2"
onmouseover="return buttonClick(event, 'item8');"
>FAQs</a> --> 

<!-- Who We Are Menu -->

<div id="item1" class="menu" onmouseover="menuMouseover(event)" style="left: 394px; top: 153px; visibility: hidden;">
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/directors_message">Director's Message</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/mission_statement">Mission Statement</a>
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/overview">School Overview</a -->
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/ProgressReport">Progress Report</a -->
<!-- <a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/alliances">Alliances</a> -->
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/Academics/Faculty">Faculty Profiles</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/Staff">Our Staff</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/research/facilities/">Research Facilities</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/news_events/event_archive.cfm">Event Gallery Archive</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/biomedidentity">Identity Materials</a>
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/Contact_Us">Contact Us</a -->

<!-- <div class="menuItemSep"><br>&nbsp;&nbsp;&nbsp;Related Documents >></div>
<a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/STATEofDrexelBIOMED">State of BIOMED</a> 
<a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/BIOMEDStrategicPlan">BIOMED Strategic Plan</a>
<a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/progress_report">BIOMED Progress Report</a> -->
</div>


<!-- Faculty -->
<div id="item2" class="menu" style="left: 467px; top: 153px; visibility: hidden;">
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty">Faculty Directories</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty/core_faculty.cfm">Core Faculty </a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty/joint_faculty.cfm">Joint Faculty</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty/adjunct_faculty.cfm">Adjunct Faculty</a>
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/faculty/Position_Announcements/tenure_112009.cfm">Faculty Positions</a -->
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/faculty/in_the_news/">Faculty in the News</a -->
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty/CurriculumDesign_QI/">Curriculum Design &amp; Quality Improvement</a>
<a class="menuItem" href="https://colleges.moss.drexel.edu/biomed/academ/abet/SitePages/Home.aspx">Academic Programs in SharePoint</a>
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/faculty/Curricula_Review/">Program and Curricula Review</a -->
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/faculty/scripts/core_faculty_login.cfm"><strong>Faculty Center OnLine</strong></a>
</div>

<!-- Research -->
<div id="item3" class="menu">
<!-- <a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/research/current_initiatives/">Current Research Initiatives</a> -->
<a class="menuItem" href="http://www.biomed.drexel.edu/ResearchPort/">Research Initiatives</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04//Content/research/facilities/">Research Facilities</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/Translational_Research/">Translational Research Program</a>
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/entrepreneurship/">Biomedical Technology Entrepreneurship</a -->
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/TechPort/">BIOMED Technology Portfolio</a -->
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/bionano/">BioNanotechnology Research</a -->
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/PedEng/">Pediatric Engineering Initiative</a>
<!-- a class="menuItem" href="http://bioinformatics.biomed.drexel.edu/">Center for Integrated Bioinformatics</a -->
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/ResearchPort/Contents/Biomedical_Optics/">Biomedical Optics Research</a -->
<a class="menuItem" href="http://www.biomed.drexel.edu/fNIR/">Functional Optical Brain Imaging - fNIR</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/lss/lss.html">Life Saving Solutions Portfolio</a>
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/ResearchPort/Contents/HomelandSecurity/">Homeland Security Technologies</a -->


<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/research/funding_opportunities.cfm">Funding Opportunities and Resources</a>
<!-- <a class="menuItem" HREF="http://www.cimerc.org/">CiMeRC</a> -->
<!-- <a class="menuItem" HREF="http://www.drexel.edu/coe/research/funding-opportunities.html">Funding Opportunities</a>
<a class="menuItem" HREF="http://www.drexel.edu/coe/research/proposal-information.html">Proposal Preparation</a> -->

<!-- <div class="menuItemSep"><br>
    &nbsp;&nbsp;&nbsp;Related Topics >></div> -->
<!-- <a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Bioinformatics Institute</a> -->
<!-- <a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Nanotechnology Institute</a> -->
<!-- <a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Coriell institute</a> -->
<!-- <a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">EMBS</a> -->
<!-- <a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">More Related Sites</a> -->
</div>

<!-- Undergraduate program -->

<div id="item4" class="menu" style="left: 573px; top: 153px; visibility: hidden;">
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/FAQ/ug_faq.cfm">FAQs</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/academic_programs/whybme">Why Biomedical Engineering?</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/whybmeforpremed">Why Biomed for Pre-med?</a>
<a class="menuItem" href="http://www.drexel.edu/undergrad/apply/">Admissions</a>

<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/academic_programs/">Academic Program</a>
<a class="menuItem" href="http://www.drexel.edu/scdc/coop/index.html">Co-op Internship Program</a>
<!--<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Learn About Becomeing a...-Coming Soon!</a>-->
<a class="menuItem" href="http://catalog.drexel.edu/undergraduate/schoolofbioengscienceandhealthsystems/">Undergraduate Course Descriptions</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/gen_lib_studies_courses/">General &amp; Liberal Studies Course List</a>
<a class="menuItem" href="http://drexel.edu/engphil/about/DrexelWritingCenter/wiCourses/">Writing Intensive Courses</a>

<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/academic_programs/advisorslist.cfm">Undergraduate Advising</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/academic_programs/readmissionpolicy.cfm">Undergraduate Readmission Policy</a>
<a class="menuItem" href="http://drexel.collegiatelink.net/organization/dbua">Drexel Biomedical Undergraduate Association (DBUA)</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/senior_design"><strong>Senior Design Center</strong></a>
</div>

<!-- Graduate Programs -->

<div id="item5" class="menu">
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/FAQ/grad_faq.cfm">FAQs</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/admissions/">Admissions</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/Graduate_Advising/">Graduate Advising</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/">Academic Programs</a> 
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/#concentration">Concentration Areas</a --> 
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/Biomedical_Engineering">Biomedical Engineering</a> 
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/Biomedical_Science">Biomedical Science</a> 
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/academic_programs/suggestedgrad.cfm">Suggested 1st Year Graduate Courses</a>

<!-- <a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/research_programs/">Research Programs</a> -->
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/Fellows_Scholarships.cfm">Fellowships &amp; Assistantships</a -->
<a class="menuItem" href="http://catalog.drexel.edu/graduate/schoolofbiomedicalengineeringscienceandhealthsystems/">Graduate Course Descriptions</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/biomed_tech_development/">Certificate Program in Biomedical Technology Development</a>

<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/academic_programs/gradprograms_guidelines.cfm">Graduate Programs Guidelines</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/MS_Thesis_Forms/">MS Thesis Forms and Requirements</a>
<!-- a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/phd_qualifying_exam">PhD Qualifying Exam / MS Comprehensive Exam</a -->
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/Cand_Exam_Info_131211.pdf">Candidacy Exam Part 2 – Oral Presentation and Pre-proposal Guidelines</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/grad_prog/academic_programs/Cand_Math_Exam_Info_2008.pdf">PhD Math Candidacy Exam Info</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/GAANN_Fellowship/" target="_blank">Doctoral Fellowships - DoED-GAANN</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/dbga/" target="_blank">Drexel Biomedical Graduate Association (DBGA)</a>


</div>

<!-- Alumni -->
<div id="item6" class="menu">
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/Alumni_Directory/default.cfm">Alumni Directory</a -->
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/../AlumniABETSurvey">Alumni ABET Survey</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/alumni_v3/scripts/form.cfm">Alumni Registration</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/distinguished.cfm">Distinguished Alumni</a>
</div>

<!-- FAQ -->
<!-- <div id="item8" class="menu">
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Undergraduate FAQs</a><a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Graduate FAQs</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Co-op Internship FAQs</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/temp/mockupv2">Research FAQs</a>
</div> -->

<!-- Students -->
<div id="item9" class="menu">


<a class="menuItem" href="http://www.drexel.edu/studentlife/programs_events/programs/New%20Student%20Orientation/"><strong>New Student Orientation</strong></a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/"><strong>Student Center Online</strong></a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/academic_programs/advisorslist.cfm">Undergraduate Advising</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/peer_mentor_program/">BIOMED Peer Mentor Program</a>
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/CourseMaterials/">Course Materials</a -->
<a class="menuItem" href="http://catalog.drexel.edu/undergraduate/schoolofbioengscienceandhealthsystems/">Undergraduate Course Descriptions</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/ug_prog/gen_lib_studies_courses/">General &amp; Liberal Studies Course List</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/JobOps.cfm">Job Opportunities / Search</a>
<a class="menuItem" href="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/Fellows_Scholarships.cfm">Scholarships, Grants &amp; Fellowships</a>
<a class="menuItem" href="http://www.weareweserve.org">weServe Program</a>
<!-- a class="menuItem" HREF="http://www.biomed.drexel.edu/new04/Content/academics/student_alumni_center/student_profiles/">Student Profiles</a -->


</div>


    


</td>
<td valign="bottom" width="14">

</td>

</tr></tbody></table>

  <!-- End Menu -->
</td>
</tr>
</tbody></table>      

<!-- End Include Document Top -->

<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="javascripts/AC_RunActiveContent.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script language="javascript">
AC_FL_RunContent = 0;
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
<script src="javascripts/AC_RunActiveContent.js" language="javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Begin Content -->



<!-- Begin Jump on the BlueLine -->
<!-- <div style="position:absolute; top:0px; right:0px; z-index:+1; visibility: visible;"> <a href="http://www.drexel.edu/blueline"> <img src="http://www.biomed.drexel.edu/new04/images//BlueLineCorner.gif" alt="blueline logo" height="100" width="100" border="0"/ style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/provost/blanket/BlueLineCorner.gif');"></a>

</div> -->
<!-- End Jump on the BlueLine --> 

<script type="text/javascript" src="javascripts/removeline.js"></script>

</td>
</tr>
</tbody></table>

<!-- End Content -->

<div class="wrapper">
  <%= yield %>
</div>



<!-- Begin Include Document Bottom -->

<table width="770" border="0" align="center" cellpadding="5" cellspacing="0" bgcolor="#003063">
  <tbody><tr height="22">
    <td valign="middle" width="*" class="BIOMEDTopNav">
      <div align="center">
      <b style="
          font-family: Arial,Helvetica,sans-serif;
          font-size: 11px;
          font-weight: bold;
          color: #ffffff;
          line-height: 12px;
        ">
        Phone 215.895.2215 | Fax 215.895.4983 | Email 
        <a href="mailto:biomed@drexel.edu" class="BIOMEDfooterNav">biomed@drexel.edu</a>
      </b>
    </div>
  </td></tr>
</tbody></table>
<table width="770" border="0" align="center" cellpadding="10
" cellspacing="0" bgcolor="#003063">
  <tbody><tr>
    <td width="440" align="center">
      <b style="color: #ffffff;
                #font-family:Arial,Helvetica,sans-serif;
                font-size: 10pt;">
        Copyright 2013, Drexel University, All Rights Reserved. 
      </b>
    </td>
    
  </tr>
</tbody></table>

<!-- End Include Document Bottom --> </body></html>