/* line 1, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
html, body {
  text-align: center; }

/* line 5, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
body {
  font-size: 11px; }

/* line 9, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
table.news {
  background: url(Images/news_fade.jpg) repeat-x top left; }

/* line 12, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
table.sl_intro {
  background: url(images/sl_homepage.png) center no-repeat; }

/* line 15, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
div.spacer {
  margin-top: 6px;
  margin-bottom: 4px; }

/* line 19, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a.gallery {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #000099;
  letter-spacing: 1px; }

/* line 26, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.arrowlistmenu {
  width: 287px;
  /*width of accordion menu*/
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 32, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.arrowlistmenu .menuheader {
  /*CSS class for menu headers in general (expanding or not!)*/
  font: bold 12px Arial;
  /* Spacing between closed Menu Tabs */
  margin-top: 7px;
  margin-bottom: 0px;
  /* ---------------------- */
  text-transform: uppercase;
  padding: 0px 0 0px 0px;
  /*header text is indented 0px*/
  cursor: hand;
  cursor: pointer; }

/* line 43, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.arrowlistmenu .openheader {
  /*CSS class to apply to expandable header when it's expanded*/
  background-image: url(titlebar-active.png); }

/* line 46, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.arrowlistmenu table {
  /*CSS for UL of each sub menu*/
  list-style-type: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px; }

/* line 52, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.arrowlistmenu table a {
  display: block;
  padding: 2px 0px 0px 0px;
  padding-left: 19px;
  /*link text is indented 19px*/
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  font-size: 90%; }

/* line 61, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.arrowlistmenu table a:hover {
  /*hover state CSS*/
  color: #FF6600;
  background-color: #EAEAEA; }

/* line 65, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.style3 {
  color: #FF3333;
  font-size: small; }

/* line 69, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.box1 {
  position: relative;
  width: 156px;
  height: 197px;
  padding: 0 0 0 0;
  background-image: url(images/vb_yellow.jpg);
  background-repeat: no-repeat; }

/* line 77, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.box2 {
  position: relative;
  width: 156px;
  height: 197px;
  padding: 0 0 0 0;
  background-image: url(images/lss_orange.jpg);
  background-repeat: no-repeat; }

/* line 85, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.box3 {
  position: relative;
  width: 156px;
  height: 197px;
  padding: 0 0 0 0;
  background-image: url(images/tr_green.jpg);
  background-repeat: no-repeat; }

/* line 93, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
#box-link {
  position: absolute;
  width: 156px;
  height: 197px;
  background-color: transparent;
  /* border: 1px solid red; */ }

/* line 99, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
div.special {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #003399;
  text-decoration: underline;
  margin-left: 14px;
  margin-bottom: 4px; }

/* line 107, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
#clickable {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: #FFFFFF; }

/*font.tabtitle {
position: absolute; 
width: 145px; 
height: 14px;
background-color: #074986;
color: #FFFFFF;
} */
/* line 121, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
div.blurb {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 5 5 5 5; }

/* line 126, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
td.specialbg {
  background: url(images/special_bg.jpg) top left repeat-x; }

/* line 129, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
div.spacer {
  margin-bottom: 12px; }

/* line 132, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar1 a:link {
  color: #FFFFFF;
  font-size: 12px; }

/* line 136, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar1 a:visited {
  color: #FFFFFF;
  font-size: 12px; }

/* line 140, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar1 a:hover {
  color: #fcbb00;
  font-size: 12px; }

/* line 144, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar1 a:active {
  color: #fcbb00;
  font-size: 12px; }

/* line 148, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar2 a:link {
  color: #003063;
  font-size: 12px; }

/* line 152, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar2 a:visited {
  color: #003063;
  font-size: 12px; }

/* line 156, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar2 a:hover {
  color: #fcbb00;
  font-size: 12px; }

/* line 160, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar2 a:active {
  color: #fcbb00;
  font-size: 12px; }

/* line 164, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  border-top-width: 20px; }

/* line 170, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.wrapper {
  background-color: #FFFFFF;
  /*height: 768px;*/
  width: 770px;
  margin: auto;
  padding: 0px;
  text-align: left; }

/* line 178, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.left {
  background-color: #FFFFFF;
  float: left;
  height: 520px;
  width: 156px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left; }

/* line 194, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.right {
  background-color: #FFFFFF;
  height: 520px;
  width: 156px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #000000;
  text-align: left; }

/* line 209, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.center {
  background-color: #FFFFFF;
  float: left;
  height: 520px;
  width: 338px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #000000;
  text-align: left; }

/* line 224, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.image {
  background-color: #FFFFFF;
  height: 275px;
  width: 770px;
  position: relative;
  z-index: 1; }

/* line 231, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #003063;
  height: 25px;
  margin-bottom: 2px;
  width: 165px;
  line-height: 25px;
  padding-left: 10px;
  z-index: 1;
  text-align: left; }

/* line 246, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.sidebar2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #003063;
  background-color: #FFFFFF;
  height: 25px;
  margin-bottom: 2px;
  width: 156px;
  padding-left: 0px;
  text-align: left; }

/* line 259, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.coulter {
  height: 90px;
  width: 156px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left; }

/* line 267, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #003063;
  margin: 0;
  padding: 0;
  text-align: left; }

/* line 277, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #003063;
  margin: 0;
  padding: 0;
  text-align: left; }

/* line 287, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  color: #003063;
  margin-top: 20px;
  padding: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: left; }

/* line 300, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a {
  font-family: Arial, Helvetica, sans-serif; }

/* line 303, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a:link {
  text-decoration: none; }

/* line 306, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a:visited {
  text-decoration: none; }

/* line 309, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a:hover {
  text-decoration: underline; }

/* line 312, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a:active {
  text-decoration: none; }

/* line 315, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
-ul {
  list-style-type: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  color: #003063;
  background-color: #FFFFFF;
  list-style-position: outside;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  line-height: 1.25em;
  text-align: left; }

/* line 333, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.headline {
  z-index: 2;
  position: relative;
  height: 40px;
  width: 345px;
  top: -40px;
  right: -405px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  padding-left: 20px;
  background-image: url(header_bar.png);
  line-height: 35px; }

/* line 350, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a.gift {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px; }

/* line 356, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a.gift:hover {
  color: #FF9900;
  text-decoration: none;
  font-size: 12px; }

/* line 362, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
#box-link2 {
  position: absolute;
  width: 455px;
  height: 86px;
  margin-left: 0px;
  background-color: transparent;
  /*border: 1px solid red; */ }

/* line 371, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
table.top {
  margin-bottom: 0px; }

/* line 375, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
div.direct {
  text-align: left;
  margin-left: 480px;
  margin-right: 100px;
  margin-top: 12px; }

/* line 382, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a.direct {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF; }

/* line 388, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
font.direct {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF; }

/* line 393, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
.style1 {
  color: #FFCC33; }

/* line 395, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
a.BiomedTopNav {
  font-size: 11px; }

/* line 400, /Users/Dave/src/biomed-newsletter/source/stylesheets/normalize.css.scss */
#drexelLinks a {
  font-size: 11px; }
