<table class="row collapse drexel-yellow">
  <tbody>
    <tr>
      <th class="first small-3 large-3 no-pb columns">
        <table class="button tiny expanded twitter">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.twitter.com/drexelbiomed" align="center" class="float-center">
                        <img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/T-t-Logo__white_29.aspx" alt="Twitter">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="small-3 large-3 no-pb columns">
        <table class="button tiny expanded facebook">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.facebook.com/DrexelBIOMED" align="center" class="float-center">
                        <img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/FB-f-Logo__white_29.aspx" alt="Facebook">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="small-3 large-3 no-pb columns">
        <table class="button tiny expanded youtube">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.youtube.com/channel/UClsV2DloAXhOQt4xnJFCOag" align="center" class="float-center">
                        <img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/YT-yt-Logo__white_29.aspx" alt="Youtube">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="last small-3 large-3 no-pb columns">
        <table class="button tiny expanded instagram">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.instagram.com/drexelbiomed" align="center" class="float-center">
                        <img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/instagram.aspx" alt="Instagram">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-yellow">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <p class="text-center">
          © 2016 Drexel University <br> School of Biomedical Engineering, Science and Health Systems <br>
          <a href="http://www.drexel.edu/biomed">drexel.edu/biomed</a> <span class="off-yellow">|</span> <%= mail_to "biomed@drexel.edu" %> <span class="off-yellow">|</span> <a href="tel:2158952215" class="blue-link">215.895.2215</a>
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>