<table class="row">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <p class="text-center">
          © Drexel University, All rights reserved <br><br>
        </p>
        <center>
          <img class="float-center" alt="Drexel University College of Engineering" align="center" src="https://biomed.drexel.edu/media/engineeringx/images/engineering-blue-black-primary-png-420.png" />
        </center>
           <br>
        <p class="text-center">
          <a href="https://www.drexel.edu/engineering">drexel.edu/engineering</a> <span class="off-yellow">|</span> <a href="tel:2158952210" class="blue-link">215.895.2210</a>
        </p>
        <br><br>
        <center>
          <img class="float-center" alt="School of Biomedical Engineering, Science and Health Systems" align="center" src="https://biomed.drexel.edu/media/engineeringx/images/biomed-blue-black-primary-png-420.png" />
        </center>
           <br>
        <p class="text-center">
          <a href="https://www.drexel.edu/biomed">drexel.edu/biomed</a> <span class="off-yellow">|</span> <a href="tel:2158952215" class="blue-link">215.895.2215</a>
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse">
  <tbody>
    <tr>
      <th class="first small-2 large-2 no-pb columns">
        <table class="button tiny expanded twitter">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.twitter.com/drexelbiomed" align="center" class="float-center">
                        <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/T-t-Logo__white_29.aspx" alt="Twitter">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="small-2 large-2 no-pb columns">
        <table class="button tiny expanded facebook">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.facebook.com/DrexelBIOMED" align="center" class="float-center">
                        <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/FB-f-Logo__white_29.aspx" alt="Facebook">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="small-2 large-2 no-pb columns">
        <table class="button tiny expanded youtube">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.youtube.com/channel/UClsV2DloAXhOQt4xnJFCOag" align="center" class="float-center">
                        <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/YT-yt-Logo__white_29.aspx" alt="Youtube">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="last small-2 large-2 no-pb columns">
        <table class="button tiny expanded instagram">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.instagram.com/drexelbiomed" align="center" class="float-center">
                        <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/instagram.aspx" alt="Insta">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="last small-2 large-2 no-pb columns">
        <table class="button tiny expanded snapchat">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.snapchat.com/add/drexelbiomed/" align="center" class="float-center">
                        <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/snapchat.aspx" alt="Snapchat">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="last small-2 large-2 no-pb columns">
        <table class="button tiny expanded linkedin">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <center>
                      <a target="_blank" href="https://www.linkedin.com/groups?home=&gid=4587558" align="center" class="float-center">
                        <img class="social-icon" src="https://drexel.edu/~/media/Images/biomed/email/linkedin.aspx" alt="Linkedin">
                      </a>
                    </center>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>