<center>
  <table align="center" class="menu float-center">
    <tr>
      <td>
        <table>
          <tr>
            <th class="menu-item"><a href="http://drexel.edu/biomed/academics/undergraduate-programs">Academics</a></th>
            <th class="menu-item"><a href="http://drexel.edu/biomed/research">Research</a></th>
            <th class="menu-item"><a href="http://drexel.edu/biomed/news-and-events">News &amp; Events</a></th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>