<table class="row drexel-yellow">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <p class="text-center">
          © Drexel University, All rights reserved <br> School of Biomedical Engineering, Science and Health Systems <br>
          <a href="http://www.drexel.edu/biomed">drexel.edu/biomed</a> <span class="off-yellow">|</span> <%= mail_to "biomed@drexel.edu" %> <span class="off-yellow">|</span> <a href="tel:2158952215" class="blue-link">215.895.2215</a><br>
          <a target="_blank" href="https://www.twitter.com/drexelbiomed" align="center" class="float-center">Twitter</a> <span class="off-yellow">|</span>
          <a target="_blank" href="https://www.facebook.com/DrexelBIOMED" align="center" class="float-center">Facebook</a> <span class="off-yellow">|</span>
          <a target="_blank" href="https://www.youtube.com/channel/UClsV2DloAXhOQt4xnJFCOag" align="center" class="float-center">YouTube</a> <span class="off-yellow">|</span>
          <a target="_blank" href="https://www.instagram.com/drexelbiomed" align="center" class="float-center">Instagram</a> <span class="off-yellow">|</span>
          <a target="_blank" href="https://www.linkedin.com/groups?home=&gid=4587558" align="center" class="float-center">LinkedIn</a>
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>