td width="#{data.config.content_width}" style="border-bottom: 1px solid #BBBBBB"
  = link_to "http://biomed.drexel.edu", style:"border: none;" do
    <img src="#{data.config.base_url}/images/logo.jpg" alt="Info Here" title="Info Here" width="#{data.config.width}" height="88" style="display:block"  border="0"/>