<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last" style="padding-top: 0px;">
            <table class="twelve columns last">
              <tr>
                <td class="panel heading yellow">
                  <h2>Alumni Awards and Honors</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last border-bottom">
            <table class="twelve columns">
              <tr>
                <td class="two sub-columns text-pad">
                  <img src="http://drexel.edu/~/media/Images/biomed/people/Pashos-Nicholas.ashx" />
                </td>
                <td class="four sub-columns">
                  <p class="link"><a href="#">Nicholas Pashos and His Tulane Spinoff's Pitch for Better Breast Reconstruction Wins the $25K Top Prize at the New Orleans BioChallenge 2015</a></p>
                </td>
                <td class="two sub-columns">
                  <img src="http://drexel.edu/~/media/Images/biomed/people/Jaydev-Dave.ashx" />
                </td>
                <td class="four sub-columns last">
                  <p class="link"><a href="#">Jaydev Dave Is Receives an American Heart Association (AHA) Certificate of Research Excellence in Recognition of His Outstanding Dedication and Achievement in Heart Disease and Stroke Research</a></p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="two sub-columns text-pad">
                  <img src="http://drexel.edu/~/media/Images/biomed/people/Bozkurt-Alper.ashx" />
                </td>
                <td class="four sub-columns">
                  <p class="link"><a href="#">Alper Bozkurt Is Named One of Popular Science's "Brilliant 10" for His Work Establishing the Foundations of the “Internet of Bionic Things”</a></p>
                </td>
                <td class="two sub-columns">
                  <img src="http://drexel.edu/~/media/Images/biomed/people/Drexel_Dragon_HEX.ashx" />
                </td>
                <td class="four sub-columns last">
                  <p class="link"><a href="#">Guruprasad Krishnamoorthy Receives a Marie Curie Fellowship Position at Philips Healthcare, Netherlands</a></p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>