<table class="container content">
  <tr>
    <td>
      <table class="row footer">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad" align="center">
                  <p style="text-align:center;">
                    Contact: biomed@drexel.edu | 215.895.2215
                  </p>
                  <p style="text-align:center;">
                    © 2015 Drexel School of Biomedical Engineering, Science and Health Systems
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>