<table class="container content">
  <tr>
    <td>
      <table class="row footer">
        <tr>
          <td class="wrapper">
            <table class="six columns">
              <tr>
                <td class="text-pad">
                  <table class="button fb-button round">
                    <tr>
                      <td><a href="https://www.facebook.com/DrexelBIOMED">Facebook</a></td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="six columns">
              <tr>
                <td class="text-pad-right">
                  <table class="button in-button round">
                    <tr>
                      <td><a href="https://www.linkedin.com/groups?home=&amp;gid=4587558&amp;trk=anet_ug_hm">LinkedIn</a></td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row footer">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad" align="center">
                  <p style="text-align:center;">
                    © 2016 Drexel University <br> School of Biomedical Engineering, Science and Health Systems <br>
                    <%= mail_to "biomed@drexel.edu" %> - 215.895.2215
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>