<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last" style="padding-top: 0px;">
            <table class="twelve columns">
              <tr>
                <td class="panel heading orange">
                  <h2>Research Report</h2>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <% research.each_with_index do |res,i| %>
        <table class="row">
          <tr>
            <td class="wrapper last border-bottom">
              <table class="twelve columns">
                <tr>
                  <td class="twelve sub-columns text-pad last">
                    <h3>
                      <%= res.title %>
                    </h3>
                    <p><%= res.text %></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="row">
          <tr>
            <td class="wrapper last border-bottom">
              <table class="twelve columns">
                <tr>
                  <td class="twelve sub-columns text-pad last">
                    <%= image_tag res.img %>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>