<table class="row top">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="no-pad label"><p>Having trouble viewing this email? [ <%= link_to "Read in Browser", read_in_browser %> ]</p></td>
                  <td class="no-pad icon" width="20">
                    <% link_to "#{data.winter2016.facebook}" do %>
                      <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_15x15.ashx" width="15" height="15" alt=" " />
                    <% end %>
                  </td>
                  <td class="no-pad icon" width="20">
                    <% link_to "#{data.winter2016.linkedin}" do %>
                      <img class="icon" style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/linkedin15x15.ashx" width="15" height="15" alt=" " />
                    <% end %>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last" style="padding: 0px">
              <table class="twelve columns">
                <tr>
                  <td style="padding: 0px">
                    <%= home_link %>
                      <img class="no-pad header-alt" src="http://drexel.edu/~/media/Images/biomed/email/newsletter-top-white-gold.ashx" alt="Drexel University | School of Biomedical Engineering, Science and Health Systems Quarterly Newsletter" />
                    <%= end_link %>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
