<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="three columns">
              <tr>
                <td class="text-pad-left">
                  <table class="tiny-button tw-button round">
                    <tr>
                      <td><a target="_blank" href="https://www.twitter.com/drexelbiomed"><img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/twitter-icon.aspx" alt=" "> <span>Twitter</span></a></td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper">
            <table class="three columns">
              <tr>
                <td>
                  <table class="tiny-button fb-button round">
                    <tr>
                      <td><a target="_blank" href="https://www.facebook.com/DrexelBIOMED"><img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_sm.aspx" alt=" "> <span>Facebook</span></a></td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper">
            <table class="three columns">
              <tr>
                <td>
                  <table class="tiny-button yt-button round">
                    <tr>
                      <td><a target="_blank" href="https://www.youtube.com/channel/UClsV2DloAXhOQt4xnJFCOag"><img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/youtube-icon.aspx" alt=" "> <span>Youtube</span></a></td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="three columns">
              <tr>
                <td class="text-pad-right">
                  <table class="tiny-button in-button round">
                    <tr>
                      <td><a target="_blank" href="https://www.linkedin.com/groups?gid=4587558"><img class="social-icon" src="http://drexel.edu/~/media/Images/biomed/email/linkedin_icon_sm.aspx" alt=" "> <span>LinkedIn</span></a></td>
                    </tr>
                  </table>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row footer">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad" align="center">
                  <p style="text-align:center;">
                    © 2016 Drexel University <br> School of Biomedical Engineering, Science and Health Systems <br>
                    <a href="http://www.drexel.edu/biomed">drexel.edu/biomed</a> <span class="yellow">|</span> <%= mail_to "biomed@drexel.edu" %> <span class="yellow">|</span> 215.895.2215
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>