---
layout: "ink-newsletter"
---
<table class="row top">
	<tr>
		<td>
			<table class="container">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td>
									<p>Winter 2016</p>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="row header">
	<tr>
		<td class="center" align="center">
			<center>
				<table class="container">
					<tr>
						<td class="wrapper last">
							<table class="twelve columns">
								<tr>
									<td>
										<img src="images/newsletter-header-blue.png">
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>
<table class="row blue">
	<tr>
		<td>
			<table class="container">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns">
							<tr>
								<td class="panel heading">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td>
									<img src="http://placehold.it/580x312" />
									<br>
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis est architecto eius commodi modi animi veritatis ipsum. Enim officiis, pariatur eos at quis quos illum necessitatibus dignissimos facilis atque provident.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="row teal">
	<tr>
		<td>
			<table class="container">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns">
							<tr>
								<td class="panel heading">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="eight sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="eight sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="eight sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="row red">
	<tr>
		<td>
			<table class="container">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns last">
							<tr>
								<td class="panel heading">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="four sub-columns last">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="four sub-columns last">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="row gold">
	<tr>
		<td>
			<table class="container">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns last">
							<tr>
								<td class="panel heading">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns">
									<img src="http://placehold.it/150x200" />
								</td>
								<td class="four sub-columns">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="two sub-columns">
									<img src="http://placehold.it/150x200" />
								</td>
								<td class="four sub-columns last">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns">
									<img src="http://placehold.it/150x200" />
								</td>
								<td class="four sub-columns">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="two sub-columns">
									<img src="http://placehold.it/150x200" />
								</td>
								<td class="four sub-columns last">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns">
									<img src="http://placehold.it/150x200" />
								</td>
								<td class="four sub-columns">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="two sub-columns">
									<img src="http://placehold.it/150x200" />
								</td>
								<td class="four sub-columns last">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="row footer">
	<tr>
		<td>
			<table class="container">
				<tr>
					<td class="wrapper">
						<table class="twelve columns">
							<tr>
								<td class="six sub-columns text-pad">
									<h3>Connect With Us</h3>
									<table class="block-grid six-up">
										<tr>
											<td>
												<table class="tiny-button round facebook">
													<tr>
														<td>
															<a href="http://facebook.com/DrexelBIOMED">Facebook</a>
														</td>
													</tr>
												</table>
											</td>
											<td>
												<table class="tiny-button round twitter">
													<tr>
														<td>
															<a href="#">LinkedIn</a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td class="six sub-columns last">
									<h3>Contact Info</h3>
									<p>
										Phone: 215.895.2215 <br>
										Email: <a href="#">biomed@drexel.edu</a>
									</p>
									</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="container">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td align="center">
									<center>
										<p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
									</center>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>