---
layout: "ink-newsletter"
---

<table class="row top">
	<tr>
		<td class="center" align="center">
			<center>
				<table class="container">
					<tr>
						<td class="wrapper last">
							<table class="twelve columns">
								<tr>
									<td class="no-pad"><p>Winter 2016</p></td>
									<td class="no-pad" width="20">
										<img style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_15x15.ashx" width="15" height="15" alt=" " />
									</td>
									<td class="no-pad" width="20">
										<img style="display: inline;" src="http://drexel.edu/~/media/Images/biomed/email/linkedin15x15.ashx" width="15" height="15" alt=" " />
									</td>
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>
<table class="row header">
	<tr>
		<td class="center" align="center">
			<center>
				<table class="container">
					<tr>
						<td class="wrapper last" style="padding: 0px">
							<table class="twelve columns">
								<tr>
									<td style="padding: 0px">
										<img class="no-pad" src="http://drexel.edu/~/media/Images/biomed/email/newsletter-top-white-gold.ashx" alt="Drexel University School of Biomedical Engineering, Science and Health Systems" />
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>
<table class="row content blue">
	<tr>
		<td class="center" align="center">
			<center>
				<table class="container">
					<tr>
						<td class="wrapper last" style="padding-top: 0px !important;">
							<table class="twelve columns">
								<tr>
									<td class="panel heading gold">
										<h2>Spotlight: BIOMED Co-op</h2>
									</td>
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>
<table class="container content">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="text-pad">
									<img src="http://placehold.it/560x314" />
									<br>
									<h3><a href="#">Translational Design Clinical Immersion Co-op</a></h3>
									<p>The Translational Design Clinical Immersion Co-op is part of an innovative new Junior Design / Senior Design program in the School of Biomedical Engineering, Sciences and Health Systems.  This program, funded by the National Institutes of Health, gives students, during their junior year, the opportunity to spend their co-op cycle working alongside clinicians and biomedical engineers to identify unmet clinical needs and translate novel technologies from bench to bedside.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="container content">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns">
							<tr>
								<td class="panel heading green">
									<h2>Student Awards and Honors</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container content">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Nutte Tarn Teraphongphom, Lauren Jablonowski, and Colleagues Publish an Article on Nanoparticle Loaded Polymeric Microbubbles in the Journal Langmuir </a></h3>
									<p>Nutte Tarn Teraphongphom and Lauren Jablonowski, both PhD students in BIOMED (Advisor: M. Wheatley), published the article titled "Nanoparticle Loaded Polymeric Microbubbles as Contrast Agents for Multimodal Imaging" (Co-authors: (P. Chhour, J.R. Eisenbrey, P.C. Nah, W.R.T. Witschey, B. Opasanont, D.P. Cormode, and M.A. Wheatley) in the October 16, 2015 edition of the American Chemical Society's journal Langmuir.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Lauren Jablonowski Is Selected to Give an Oral Presentation at the 2015 Biomedical Engineering Society (BMES) Annual Meeting</a></h3>
									<p>Lauren Jablonowski, PhD student in BIOMED (Advisor: M. Wheatley), was selected to give an oral presentation under the Drug Delivery track at the 2015 BMES Annual Meeting in Tampa, FL, October 7-10, 2015.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Nohra Murad Receives the Steinbright Research Co-op Award for Fall/Winter Term 2015</a></h3>
									<p>Nohra Murad, BS/MS student in BIOMED (Advisor: A. Throckmorton), received the Steinbright Research Co-op Award for Fall/Winter Term 2015.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Kritika  Katiyar Receives an NIH National Institute of Neurological Disorders and Stroke Research Fellowship</a></h3>
									<p>Kritika Katiyar, PhD candidate in BIOMED (Advisor: Y. Zhong), received a 3-year $90K NIH National Institute of Neurological Disorders and Stroke research fellowship for the project titled, "Mechanisms for Axonal Guidance Using Living Tissue Engineered Scaffolds."</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Dimitri Arhontoulis, Kimberly Chan, Andrew Ellinger, Sachin Gandhi, Gabrielle Herrmann, and Iden Kurtaliaj Win the Wound-Closure Category of the 2015 Coulter College Design Competition </a></h3>
									<p>Dimitri Arhontoulis, Kimberly Chan, Andrew Ellinger, Sachin Gandhi, Gabrielle Herrmann, and Iden Kurtaliaj (Advisors: Wan Shih, PhD, Michael Weingarten, MD – CoM) won the Wound-Closure category of the 2015 Coulter College Design Competition, held August 13–16, 2015 in Coral Gables, FL. The goal of the project was to increase the durability of wound closure in obese patients following laparoscopic bariatric surgery.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Andy Abbate Receives a Human Factors and Ergonomics Society Travel Award To Present His Paper on Computational Tree Logic Methods to Analyze User Documentation Navigation </a></h3>
									<p>Andy Abbate, PhD candidate in BIOMED (Advisors: A. Throckmorton and E. Bass), received to present the paper titled, "Using Computational Tree Logic Methods to Analyze User Documentation Navigation: A Formal Reachability Approach" at the 59th Annual Meeting of the Human Factors and Ergonomics Society on October 26–30, 2015 in Los Angeles, CA. Andy is also being considered for the Distinguished Chapanis Award for the Best Student Paper/Presentation.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="three sub-columns text-pad">
									<img src="http://placehold.it/120x160" />
								</td>
								<td class="nine sub-columns last">
									<h3><a href="#">Pamela Graney is Named a Recipient of the 2015-2016 Louis and Bessie Stein Family Fellowship for Exchanges with Israeli Universities</a></h3>
									<p>Pamela Graney, PhD student in BIOMED (Advisor: K. Spiller), was selected to receive the 2015-¬2016 Louis and Bessie Stein Family Fellowship for Exchanges with Israeli Universities. Pamela's selection was based on her project titled, "Modulating Macrophage Behavior in Blood Vessel Development and Maintenance" in the lab of Dr. Shulamit Levenberg in the Technion Israel Institute of Technology in Haifa, Israel. This award carries with it a $20,000 fellowship and the title of "Stein Fellow."</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>
<table class="container content ">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns last">
							<tr>
								<td class="panel heading red">
									<h2>Faculty / Staff Awards and Honors</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container content">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="six sub-columns text-pad">
									<img src="http://placehold.it/260x200" />
									<h3><a href="#">Dr. Donald McEachron Gives an Invited Talk on Neural Rhythms and Brain Activity</a></h3>
									<p>Dr. Donald McEachron, teaching professor in BIOMED, gave an invited talk titled "We All Got Rhythms but Can We All Stay in Synch?" at the IEEE Philadelphia Section Night Meeting, held January 19, 2016 at the Sheraton University City, Philadelphia, PA.</p>
									<img src="http://placehold.it/260x200" />
									<h3><a href="#">Dr. Kara Spiller Receives a $2M NIH Grant for Her Understanding and Controlling Macrophage Behavior in Angiogenesis Project</a></h3>
									<p>Dr. Kara Spiller, assistant professor in BIOMED, received a 5-year $2M NIH R01 grant for the project titled "Understanding and Controlling Macrophage Behavior in Angiogenesis." The project's goal is to better understand the relationship between the body’s natural healing process and tissue regeneration and to develop a drug delivery strategy to grow blood vessels using immune system cells called macrophages. Dr. Spiller and her project were featured in a January 5, 2016 DrexelNOW story titled "Harnessing the Body’s Immune System to Heal Wounds Naturally."</p>
									<img src="http://placehold.it/260x200" />
									<h3><a href="#">Dr. Kurtulus Izzetoglu Is Cited in Unmanned Aircraft Systems (UAS) Magazine for His Research in Exploring Human Factors That May Impact the Safe Operation of UAS </a></h3>
									<p>Dr. Kurtulus Izzetoglu, research associate professor in BIOMED, was mentioned in Unmanned Aircraft Systems (UAS) magazine for his research in exploring human factors that may impact the safe operation of unmanned aircraft systems in the national airspace. Part of the team's research involves analyzing UAV control station design standards.</p>
								</td>
								<td class="six sub-columns text-pad">
									<img src="http://placehold.it/260x200" />
									<h3><a href="#">Dr. Meltem Izzetoglu Is Quoted in a PsychCentral.com Story on Real-time Measurement of Brain Activity in Parkinsonian Patients</a></h3>
									<p>Dr. Meltem Izzetoglu, research assistant professor in BIOMED, was quoted in a January 1, 2016 PsychCentral.com story about Parkinsonian patients and measuring their brain activity in real-time, in a realistic setting.</p>
									<img src="http://placehold.it/260x200" />
									<h3><a href="#">Dr. Kara Spiller Is Featured in a BillyPenn.com Post as One of the Most Dynamic Young STEM Leaders in Philadelphia </a></h3>
									<p>Dr. Kara Spiller, assistant professor in BIOMED, was featured in a December 21, 2015 BillyPenn.com post as one of the most dynamic young STEM leaders in Philadelphia. The post mentions how Dr. Spiller and her team are designing unique drug delivery strategies that harness the body’s immune system to naturally promote tissue repair and regeneration.</p>
									<img src="http://placehold.it/260x200" />
									<h3><a href="#">Dr. Donald McEachron Co-authors Article for Disruptive Women in Healthcare on Growing Older with the Rhythms of Life</a></h3>
									<p>Drs. Donald McEachron, teaching professor in BIOMED, and Eugenia Ellis, associate professor in CoMAD, authored an article for the online magazine Disruptive Women in Health Care about growing older with the rhythms of life.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<table class="container content">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last" style="padding-top: 0px;">
						<table class="twelve columns last">
							<tr>
								<td class="panel heading yellow">
									<h2>Alumni Awards and Honors</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="container content">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns text-pad">
									<img src="http://placehold.it/76x100" />
								</td>
								<td class="four sub-columns">
									<p><a href="#">Nicholas Pashos and His Tulane Spinoff's Pitch for Better Breast Reconstruction Wins the $25K Top Prize at the New Orleans BioChallenge 2015</a></p>
								</td>
								<td class="two sub-columns">
									<img src="http://placehold.it/76x100" />
								</td>
								<td class="four sub-columns last">
									<p><a href="#">Jaydev Dave Is Receives an American Heart Association (AHA) Certificate of Research Excellence in Recognition of His Outstanding Dedication and Achievement in Heart Disease and Stroke Research</a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns text-pad">
									<img src="http://placehold.it/76x100" />
								</td>
								<td class="four sub-columns">
									<p><a href="#">Alper Bozkurt Is Named One of Popular Science's "Brilliant 10" for His Work Establishing the Foundations of the “Internet of Bionic Things”</a></p>
								</td>
								<td class="two sub-columns">
									<img src="http://placehold.it/76x100" />
								</td>
								<td class="four sub-columns last">
									<p><a href="#">Guruprasad Krishnamoorthy Receives a Marie Curie Fellowship Position at Philips Healthcare, Netherlands</a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
<!-- 			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns text-pad">
									<img src="http://placehold.it/76x100" />
								</td>
								<td class="four sub-columns">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="two sub-columns">
									<img src="http://placehold.it/76x100" />
								</td>
								<td class="four sub-columns last">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
 -->		</td>
	</tr>
</table>
<table class="container content">
	<tr>
		<td>
			<table class="row footer">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="text-pad" align="center">
									<p style="text-align:center;">
										Contact: biomed@drexel.edu | 215.895.2215
									</p>
									<p style="text-align:center;">
										© 2015 Drexel School of Biomedical Engineering, Science and Health Systems
									</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>