---
layout: "ink"
---

<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="seven sub-columns">
                    <a href="http://drexel.edu/biomed">
                      <img src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_small.ashx?la=en&hash=293FA5AE29E84E4FBEFCF3F514C42D36" alt="Drexel School of Biomedical Engineering, Science and Health Systems">
                    </a>
                  </td>
                  <td class="one sub-columns"></td>
                  <td class="four sub-columns last pad event-type" >
                    <p><strong>--------Category--------</strong></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="row stripe">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

<!-- TITLE ================================================= -->
<table class="container">
  <tr>
    <td>
      <table class="row title">
        <tr>
          <td class="wrapper">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <h1>
                    <a href="--------Biomed URL--------">--------Title--------</a>
                  </h1>
                  <br>
                  <p>
                    <strong>
                      Date: <span class="highlight">--------Date and Time--------</span><br>
                      Time: <span class="highlight">--------Date and Time--------</span><br>
                      Location: <span class="highlight">--------Location--------</span>
                    </strong>
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row content">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">

<!-- SPEAKER ================================================= -->
                  <p>
                    <strong>Speaker(s): </strong>
                    <br>
                    --------Speaker(s)--------
                  </p>

<!-- DETAILS ================================================= -->
                  <p>
                    <strong>Details: </strong>
                    <br>
                    --------Details--------
                  </p>

<!-- BIOSKETCH ================================================= -->
                  <p>
                    <strong>Biosketch: </strong>
                    <br>
                    --------Biosketch--------
                  </p>

<!-- DIRECTIONS ================================================= -->
                  <p>
                    <strong>Directions: </strong>
                    <br>
                    --------Directions--------
                  </p>
                </td>

<!-- CLOSE BODY ================================================= -->
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
<!-- WEBCAST ================================================= -->
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="three sub-columns"></td>
                <td class="six sub-columns">
                    <table class="button round alert">
                      <tr>
                        <td>
                          <a href="--------Webcast URL--------">Watch Webcast</a>
                        </td>
                      </tr>
                    </table>
                </td>
                <td class="three sub-columns"></td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
<!-- FOOTER ================================================= -->
      <table class="row footer">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="center panel">
                  <center>
                    <table>
                      <tr>
                        <td class="center">
                          <a href="https://www.facebook.com/DrexelBIOMED">
                            <img src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_sm.ashx?la=en&hash=65F925D356C94F91AA30F0A04F67F254" alt="Facebook" class="center social-media" />
                          </a>
                          <a href="https://www.linkedin.com/grp/home?gid=4587558">
                            <img src="http://drexel.edu/~/media/Images/biomed/email/linkedin_icon_sm.ashx?la=en&hash=60FD89AFADCC4458A93369242EA7C639" alt="LinkedIn" class="center social-media" />
                          </a>
                        </td>
                        <td>
                          <img src="http://google-analytics.com/collect?v=1&tid=UA-48789419-1&cid=555&t=event&ec=email&ea=open&el=seminar" />
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                    <p class="center">
                      <a href="http://drexel.edu/biomed">BIOMED Home</a> –
                      Phone: <a href="tel:+12158952215">215-895-2215</a> –
                      Email: <a href="mailto:biomed@drexel.edu">biomed@drexel.edu</a><br>
                    </p>
                    <p class="center">
                      <small>
                      Drexel University
                      School of Biomedical Engineering, Science and Health Systems <br>
                      3141 Chestnut Street |
                      Philadelphia, PA 19104<br>
                      <br>
                      </small>
                    </p>
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <br>
      <br>
    </td>
  </tr>
</table>