---
layout: "ink"
---
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="seven sub-columns">
                    <a href="http://drexel.edu/biomed">
                      <img src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_small.ashx?la=en&hash=293FA5AE29E84E4FBEFCF3F514C42D36" alt="Drexel School of Biomedical Engineering, Science and Health Systems">
                    </a>
                  </td>
                  <td class="one sub-columns"></td>
                  <td class="four sub-columns last pad event-type" >
                    <p><strong>Thesis Defense</strong></p>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="row stripe"> <!-- Styles go on the row -->
  <tr>
    <td class="center" align="center"> <!-- Center the container -->
      <center>
        <table class="container"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="container">
  <tr>
    <td>
      <table class="row title">
        <tr>
          <td class="wrapper">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <h1>
                    <a href="#//Webcast URL//">Fibronectin Adsorption to Polystyrene in Varied Electric Field Measured by Fluorescent Labeling</a>
                  </h1>
                  <br>
                  <p>
                    <strong>
                      Date and Time: <span class="highlight">8/1/00 1:00 PM</span><br>
                      Location: <span class="highlight">Commonwealth Hall Room 410</span>
                    </strong>
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row content">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                <!-- <cfif Len(spkinfo) gt 2> -->
                  <p>
                    <strong>Speaker(s): </strong>
                    <br>
                    Hanako Yamanaka, M.S. Candidate in Biomedical Engineering<br>Supervising Professor:  Dr. Michele Marcolongo
                  </p>
                <!-- </cfif> -->
                <!-- <cfif Len(body) gt 2> -->
                  <p>
                    <strong>Details: </strong>
                    <br>
                    Fibronectin Adsorption to Polystyrene in Varied Electric Field Measured by Fluorescent Labeling<br><br>Fibronectin (Fn) is a glycoprotein with a cell-binding site that allows adhesion of cells to biomaterial surfaces.  Integration of tissue with implants and tissue engineering scaffolds (designed to grow and proliferate cells) is crucial to the success of certain orthopedic devices.   Studies have shown increased cell adhesion with negatively charged surfaces and inhibition with positively charged surfaces.  Here the effect of material surface charge on Fn adsorption was studied by application of an electric field to the Fn solution.  Controlling Fn adsorption by material surface charge would allow engineering biomaterials with specific cell-adhesion capabilities.<br> <br>At 54 V, Fn adsorption was inhibited for both positively and negatively charged tissue culture polystyrene (TCP).  However, the inhibition appeared to be a result of denaturation of Fn.  At lower voltages of 6 and 12 V, no change in Fn adsorption was observed for both positively and negatively charged surfaces.  No correlation between material surface charge and Fn adsorption was found.  This suggests material surface charge affects Fn activity by alteration of Fn conformation upon adsorption.<br><br>Fn adsorption to TCP was quantified using a fluorescent labeling technique developed for this study.  The fluorescent labeling technique eliminated the disadvantages of current methods and showed accuracy and consistency equivalent to that of radiolabeling and enzyme immunoassays.<br><br>
                  </p>
                <!-- </cfif> -->
                <!-- <cfif Len(biosketch) gt 2> -->
                  <!-- <p>
                    <strong>Biosketch: </strong>
                    <br>
                    //Biosketch//
                  </p> -->
                <!-- </cfif> -->
                <!-- <cfif Len(directions) gt 2> -->
                  <!-- <p>
                    <strong>Directions: </strong>
                    <br>
                    //Directions//
                  </p> -->
                <!-- </cfif> -->
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="three sub-columns"></td>
                <td class="six sub-columns">
                    <table class="button round alert">
                      <tr>
                        <td>
                          <a href="#">Watch Webcast</a>
                        </td>
                      </tr>
                    </table>
                </td>
                <td class="three sub-columns"></td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row footer">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="center panel">
                  <center>
                    <table>
                      <tr>
                        <td class="center">
                          <a href="https://www.facebook.com/DrexelBIOMED">
                            <img src="http://drexel.edu/~/media/Images/biomed/email/facebook_icon_sm.ashx?la=en&hash=65F925D356C94F91AA30F0A04F67F254" alt="Facebook" class="center social-media" />
                          </a>
                          <a href="https://www.linkedin.com/grp/home?gid=4587558">
                            <img src="http://drexel.edu/~/media/Images/biomed/email/linkedin_icon_sm.ashx?la=en&hash=60FD89AFADCC4458A93369242EA7C639" alt="LinkedIn" class="center social-media" />
                          </a>
                        </td>
                        <td>
                          <img src="http://google-analytics.com/collect?v=1&tid=UA-48789419-1&cid=555&t=event&ec=email&ea=open&el=seminar" />
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                    <p class="center">
                      <a href="http://drexel.edu/biomed">BIOMED Home</a> –
                      Phone: <a href="tel:+12158952215">215-895-2215</a> –
                      Email: <a href="mailto:biomed@drexel.edu">biomed@drexel.edu</a><br>
                    </p>
                    <p class="center">
                      <small>
                      Drexel University
                      School of Biomedical Engineering, Science and Health Systems <br>
                      3141 Chestnut Street |
                      Philadelphia, PA 19104<br>
                      <br>
                      </small>
                    </p>
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- container end below -->
      <br>
      <br>
      <br>
      <br>
    </td>
  </tr>
</table>