---
layout: "ink"
---
<table class="row header">
  <tr>
    <td class="center" align="center">
      <center>
        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <a href="http://biomed.drexel.edu/new04">
                      <img class="center" src="http://biomed.drexel.edu/new04/Images/Biomed_TwoLine.png" alt="Drexel School of Biomedical Engineering, Science and Health Systems">
                    </a>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
<table class="container">
  <tr>
    <td>
      <table class="row label">
        <tr>
          <td class="wrapper">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                  <span class="template-label">BIOMED #type#</span>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row title">
        <tr>
          <td class="wrapper">
            <table class="twelve columns">
              <tr>
                <td class="text-pad-left">
                  <h1>#title#</h1>
                  <br>
                  <p>
                    <strong>
                      Date: <span class="highlight">#MonthAsString(Month(edate))# #Day(edate)#, #Year(edate)#</span><br>
                      Time: <span class="highlight">#TimeFormat(edate, "h:mm tt")#</span><br>
                      Location: <span class="highlight">#building#
                      Room: #room#</span>
                    </strong>
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row content">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                <!-- <cfif Len(spkinfo) gt 2> -->
                  <p>
                    <strong>Speaker(s): </strong>
                    <br>
                    #spkinfo#
                  </p>
                <!-- </cfif> -->
                <!-- <cfif Len(body) gt 2> -->
                  <p>
                    <strong>Details: </strong>
                    <br>
                    #body#
                  </p>
                <!-- </cfif> -->
                <!-- <cfif Len(biosketch) gt 2> -->
                  <p>
                    <strong>Biosketch: </strong>
                    <br>
                    #biosketch#
                  </p>
                <!-- </cfif> -->
                <!-- <cfif Len(directions) gt 2> -->
                  <p>
                    <strong>Directions: </strong>
                    <br>
                    #directions#
                  </p>
                <!-- </cfif> -->
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row footer">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="center">
                  <center>
                    <table>
                      <tr>
                        <td class="center"><a href="https://www.facebook.com/DrexelBIOMED"><img src="http://biomed.drexel.edu/new04/Content/newsletter/summer2014/images/facebook_icon_sm.png" alt="Facebook" class="center social-media" /></a> <img src="http://biomed.drexel.edu/new04/Content/newsletter/summer2014/images/linkedin_icon_sm.png" alt="LinkedIn" class="center social-media" /></a></td>
                        <td><img src="http://google-analytics.com/collect?v=1&tid=UA-48789419-1&cid=555&t=event&ec=email&ea=open&el=seminar" /></td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                    <p class="center">
                      <a href="http://biomed.drexel.edu/new04">BIOMED Home</a> –
                      Phone: <a href="tel:+12158952215">215-895-2215</a> –
                      Email: <a href="mailto:biomed@drexel.edu">biomed@drexel.edu</a><br>
                    </p>
                    <p class="center">
                      <small>
                      Drexel University
                      School of Biomedical Engineering, Science and Health Systems <br>
                      3141 Chestnut Street |
                      Philadelphia, PA 19104<br>
                      <br>
                      </small>
                    </p>
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- container end below -->
      <br>
      <br>
      <br>
      <br>
    </td>
  </tr>
</table>