---
layout: ffe2-mabd
data_file: biomedToYou
---

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Drexel BIOMED Comes to IIT Madras!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <!-- Biomed Logo -->
          <%= home_link %>
            <img class="float-center" align="center" alt=" Drexel University School of Biomed" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
          <%= end_link %>
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-yellow" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <center>
          <!-- Test Drive Logo -->
          <a href="http://www.gian.iitkgp.ac.in/files/brochures/BR1488985208Brouchure_Pediatric_Biomechanics_Dr_Sriram.pdf"><img class="float-center bg-green" align="center" alt="Sri Bala Coming to Campus" src="http://drexel.edu/~/media/Images/biomed/email/sri-bala.ashx"></a>
          <!-- Test Drive Logo End -->
        </center>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <!-- Lead text -->
          <h3>
            Drexel BIOMED Comes to IIT Madras!
          </h3>
          <!-- Lead text End -->
        </center>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-8 columns pad-top">
          <!-- Seminar Description -->
          <p>Dear Faculty,</p>
          <p>
            Thank you for recommending your student to the Graduate Program at the School of Biomedical Engineering, Science and Health Systems at Drexel University. One of our faculty members will be visiting India! Dr. Sriram Balasubramanian will be at ITT-Madras to teach a 4 day course titled Pediatric Biomechanics – Deformities, Treatment and Injury Prevention. This course is open to students with biomedical engineering, mechanical engineering, applied mechanics and engineering design.
          </p>
          <div class="spacer">&nbsp;</div>

          <table class="button large radius">
            <tr>
              <td>
                <table>
                  <tr>
                    <td><a href="http://www.gian.iitkgp.ac.in/files/brochures/BR1488985208Brouchure_Pediatric_Biomechanics_Dr_Sriram.pdf">Register Now</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- Seminar Description End -->
      </th>
      <th class="last small-12 large-4 columns pad-top">
        <center>
          <!-- Kara Spiller Photo -->
          <a href="http://www.gian.iitkgp.ac.in/files/brochures/BR1488985208Brouchure_Pediatric_Biomechanics_Dr_Sriram.pdf"><img  class="float-center" align="center" alt="IIT Madras Campus" src="http://drexel.edu/~/media/Images/biomed/email/iit-madras.ashx"></a>
          <div class="spacer">&nbsp;</div>
          <p class="float-center">
            <strong>Course Date</strong> <br>
            March 20th – 24th, 2017<br>
            <em>IIT Madras</em>
          </p>
          <!-- Kara Spiller Photo End -->
        </center>
      </th>
      <th class="expander"><%= tag :img, :src => "#{track_opens_url}" %></th>
    </tr>
  </tbody>
</table>

<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->