---
layout: "ffe2-seminar"
data_file: seminar
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander no-pb"></th>
    </tr>
  </tbody>
</table>
<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="last small-12 large-12 columns no-pb" valign="bottom">
        <p class="text-center category">
          --------Category--------
        </p>
      </th>
      <th class="expander no-pb"></th>
    </tr>
  </tbody>
</table>
<!-- TITLE ================================================= -->
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h4>
          <a href="--------Biomed URL--------">--------Title--------</a>
        </h4>
        <p>
          <strong>
            Date: <span class="highlight">--------Date--------</span><br>
            Time: <span class="highlight">--------Time--------</span><br>
            Location: <span class="highlight">--------Location--------</span>
          </strong>
        </p>
        <!-- WEBCAST ================================================= -->
         <!-- <img src="--------Image URL--------" alt=" " /> -->
         <img src="http://drexel.edu/~/media/Images/biomed/email/pisb.ashx" alt="Papadakis Integrated Sciences Building" />
        <div class="p-space">&nbsp;</div>
         <p>
           <strong>Speaker(s): </strong> <br>
            --------Speaker(s)--------
         </p>
        <table class="button primary">
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <a href="--------Webcast URL--------">Watch Webcast</a>
                  </td>
                </tr>
              </table>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12">

<!-- DETAILS ================================================= -->
        <p>
          <strong>Details: </strong>
          <br>
          --------Details--------
        </p>

<!-- BIOSKETCH ================================================= -->
        <p>
          <strong>Biosketch: </strong>
          <br>
          --------Biosketch--------
        </p>
        <p>
          <strong>Directions: </strong>
          <br>
          --------Directions--------
        </p>
        <div class="p-space">&nbsp;</div>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<!-- CLOSE BODY ================================================= -->
