---
layout: "ink-newsletter"
---
<table class="row header">
	<tr>
		<td class="center" align="center">
			<center>
				<table class="container">
					<tr>
						<td class="wrapper last">
							<table class="twelve columns">
								<tr>
									<td>
										<img src="http://placehold.it/580x326">
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</center>
		</td>
	</tr>
</table>
<table class="container">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="panel heading blue">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="eight sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="eight sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="eight sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, alias, illum a provident repellendus quo, non maiores, nostrum nulla natus veritatis qui expedita cum voluptatibus iste! Voluptatem sed vitae, facere.</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns last">
							<tr>
								<td class="panel heading orange">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="four sub-columns last">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="four sub-columns">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></p>
								</td>
								<td class="four sub-columns last">
									<img src="http://placehold.it/200x150" />
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns last">
							<tr>
								<td class="panel heading green">
									<h2>Highlights</h2>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="ten sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></h3>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row">
				<tr>
					<td class="wrapper last">
						<table class="twelve columns">
							<tr>
								<td class="two sub-columns">
									<img src="http://placehold.it/200x150" />
								</td>
								<td class="ten sub-columns last">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quo harum accusamus corporis.</a></h3>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="row footer">
				<tr>
					<td class="wrapper">
						<table class="six columns">
							<tr>
								<td class="left-text-pad">
									<h5>Connect With Us:</h5>
									<table class="tiny-button facebook">
										<tr>
											<td>
												<a href="#">Facebook</a>
											</td>
										</tr>
									</table>
									<br>
									<table class="tiny-button twitter">
										<tr>
											<td>
												<a href="#">Twitter</a>
											</td>
										</tr>
									</table>
									<br>
									<table class="tiny-button google-plus">
										<tr>
											<td>
												<a href="#">Google +</a>
											</td>
										</tr>
									</table>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
					<td class="wrapper last">
						<table class="six columns">
							<tr>
								<td class="last right-text-pad">
									<h5>Contact Info:</h5>
									<p>Phone: 408.341.0600</p>
									<p>Email: <a href="/cdn-cgi/l/email-protection#68001b0d040c0706281c1a09061c071a460b0705"><span class="__cf_email__" data-cfemail="2c445f49404843426c585e4d4258435e024f4341">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">
										/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></a></p>
									</td>
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<table class="row">
					<tr>
						<td class="wrapper last">
							<table class="twelve columns">
								<tr>
									<td align="center">
										<center>
											<p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
										</center>
									</td>
									<td class="expander"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>
	</table>