---
layout: ffe2-mabd
source: biomed_email
campaign: careers_in_data_science
---

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Learn about Data Science and Data Engineering with the Insight Fellows Program.</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <!-- Biomed Logo -->
          <%= home_link %>
            <img class="float-center" align="center" alt=" Drexel University School of Biomed" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
          <%= end_link %>
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-2 columns"></th>
      <th class="small-12 large-12 columns">
        <center>
          <!-- img -->
          <a href="http://drexel.edu/biomed/news-and-events/events-calendar/info-session-on-careers-in-data-science/"><img class="float-center" align="center" alt="Insight Data Science Fellow Program Whiteboard" src="http://drexel.edu/~/media/Images/biomed/events/insight-data-science-fellows-program.ashx?h=300&w=570&hash=680305329F7E35C21C01E33C9C3984E3C659F86D"></a>
          <!-- img End -->
        </center>
      </th>
      <th class="last small-12 large-2 columns"></th>
    </tr>
  </tbody>
</table>
<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <!-- Lead text -->
          <p class="lead float-center">
            The School of Biomedical Engineering, Science and Health Systems at Drexel University invites you to Learn about Data Science and Data Engineering with the Insight Fellows Program
          </p>
          <!-- Lead text End -->
        </center>
      </th>
    </tr>
  </tbody>
</table>
<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="small-12 large-4 columns">
        <table>
          <tr>
            <th>
              <center>
                <table class="button float-center">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td><a href="http://drexel.edu/biomed/news-and-events/events-calendar/info-session-on-careers-in-data-science/">Reserve Your Seat Now</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-4 columns pad-top">
        <center>
          <!-- Kara Spiller Photo -->
          <a href="http://drexel.edu/biomed/news-and-events/events-calendar/info-session-on-careers-in-data-science/"><img  class="float-center" align="center" alt="Portrait Gregory Antell, PhD" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAtmAAAAJDk3OTEwOTQ1LTljNGUtNGZiMy05ZGZlLTY2ZjZjMGNkNTQ5Zg.jpg"></a>
          <p class="float-center">
            <br>
            <strong>Speaker</strong>
            <br>
            Gregory Antell, PhD <br>
            <em>
              Data Science Lead <br>
              Insight Data Science
            </em>
          </p>
          <!-- Kara Spiller Photo End -->
        </center>
      </th>
      <th class="last small-12 large-8 columns pad-top">
          <!-- Seminar Description -->
          <h5>Event Information</h5>
          <p class="lead">
          <strong>Date:</strong> Friday, October 13, 2017 <br>
          <strong>Time:</strong> 10:00 AM <br>
          <strong>Place:</strong> Bossone 709
          </p>
          <h5>Description</h5>
          <p>The Insight Fellows Program is a training fellowship designed to bridge the gap between academia and a career in data. Insight provides seven-week, full-time, training fellowships in Silicon Valley, New York, Boston, and Seattle. They offer a full tuition scholarship, dedicated office space, and project-based learning under the guidance of top industry mentors. Over 800 Insight alumni are now working at Facebook, Apple, LinkedIn, Reddit, Netflix, NBC, MTV, Khan Academy, Biogen and other top companies.</p>
          <!-- Seminar Description End -->
      </th>
      <th class="expander"><%= tag :img, :src => "#{track_opens_url}" %></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <!-- Biosketch -->
        <p><a href="http://insightdatascience.com/">Insight Data Science</a> provides a unique opportunity for PhDs and postdocs working quantitatively with data to translate their skills into those of data scientists, build portfolio projects, and get jobs with leading data-driven companies across a multitude of industry sectors. In this talk we will provide advice for students thinking of making the transition and discuss the Fellowship program.</p>
        <p>Insight Data Engineering provides a unique opportunity for programmers to learn more about open-source, cloud-based distributed systems software through hands-on project work, and then helps those programmers land awesome data engineering jobs. This talk will focus on strategies that students, who are not currently working in the field of data engineering, can use to break into this cutting-edge industry. We will also discuss the Insight Data Engineering Fellows Program.&nbsp;</p>
        <p>The information session will include abundant time for Q&amp;A with Data Science Lead and Drexel alumnus, Greg Antell and Director of Product, Yan Kou, who will be leading the discussion. See the <a href="http://insightdatascience.com/faq">Insight Fellow Program FAQ</a> page for more information and answers to common questions.</p>
        <!-- Biosketch End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->