---
layout: ffe2-mabd
source: biomed_email
campaign: college_choice
preheader: "College Choice put Drexel's MS in Biomedical Engineering at #24"
---

<table class="row preheader" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"><%= current_page.data.preheader %></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue yellow-border-bottom" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <!-- Biomed Logo -->
          <%= home_link %>
            <img class="float-center" align="center" alt=" Drexel University School of Biomedical Engineering" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
          <%= end_link %>
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"><%= tag :img, :src => "#{track_opens_url}" %></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 pad-top no-pb columns">
        <p><strong>PHILADELPHIA, PA, December 20, 2017 — Founded in 1891, Drexel University has been ranked among the 50 <a href="https://www.collegechoice.net/rankings/masters-in-biomedical-engineering-degrees/"><strong>Best Master’s in Biomedical Engineering Degrees</strong></a>. College Choice, a leading authority in college and university rankings and resources, put Drexel University at #24. </strong></p>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-7 columns no-pb">
        <p>Drexel’s School of Biomedical Engineering, Science and Health Systems was established almost 60 years ago, with a foundation of excellent basic research that informs the school’s current teaching, translational research, and service activities, all in the pursuit of achieving clinical and industrial relevance, thus creating the educational experiences that prepare its students for emerging biomedical challenges. </p>
      </th>
      <th class="last small-12 large-5 columns no-pb">
        <center>
            <img class="float-center" align="center" alt="College Choice Best BME Master's Badge" src="http://drexel.edu/~/media/Images/biomed/email/badge.ashx" />
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 pad-top columns">
        <p>The <a href="http://drexel.edu/biomed/academics/undergraduate-programs/co-ops-in-biomedical-engineering/?utm_source=biomed_email&utm_medium=email&utm_campaign=college-choice-24&utm_term=ms_bme">Drexel Co-op program</a> enables the school’s graduate students to accept paid positions in their career fields and receive academic credit, with employment opportunities available in 6-month installments. This is an option available to both domestic and international students. </p>
        <p>At Drexel's School of Biomedical Engineering, Science and Health Systems, we feel fortunate to be part of a unique global community of innovators pursuing <a href="http://drexel.edu/biomed/research/centers-and-initiatives?utm_source=biomed_email&utm_medium=email&utm_campaign=college-choice-24&utm_term=ms_bme">life-saving solutions</a> and opportunities to translate amazing science into lives saved and health improved. Founded in 1961 as the United States’ first Biomedical Engineering and Science Institute, the school has continually pushed the boundaries of science and technology, while forging relationships with a network of partners bridging academia, industry, and government to harness our combined potential regionally, nationally, and internationally, and to fulfill our social contract. The school is a hub of knowledge and innovation, as highlighted by the Hartwell Foundation’s <a href="http://drexel.edu/biomed/news-and-events/news/2017/August/Throckmorton-Hartwell-Foundation-Award?utm_source=biomed_email&utm_medium=email&utm_campaign=college-choice-24&utm_term=ms_bme">recently awarding</a> an associate professor in the school with a grant to continue her research to aid children with heart defects.</p>
        <p>According to College Choice, the school's #24 ranking is based on accreditation and three composite scores: institutional excellence, student satisfaction, and return on investment. The data from their ranking comes from the National Center for Education Statistics’ IPEDS database, U.S. News &amp; World Report, Payscale, and individual college websites.</p>

        <p>In its description of Drexel University, College Choice noted that Drexel's School of Biomedical Engineering, Science and Health Systems offers both part-time and full-time programs in an array of research areas, including Biomedical Imaging, Biomedical Instrumentation, Biomaterials and Tissue Engineering, Biomechanics and Human Performance, Biomedical Signals, and Neuroengineering. College Choice also noted the school’s MS in Integrated Biomedical Engineering and Business (IBEB), which is designed for engineers pursuing business/management oriented careers in biomedical engineering and who are looking to uniquely blend business and technology. </p>
        <p class="lead"><strong>Learn More</strong></p>
        <table class="button primary">
        <tr>
          <td>
            <table>
              <tr>
                <td><a href="http://drexel.edu/biomed/academics/graduate-programs?utm_source=biomed_email&utm_medium=email&utm_campaign=college-choice-24&utm_term=ms_bme">&rarr; Overview of Graduate Degree Programs</a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->