---
layout: ffe2-mabd
utm_campaign: coulter_newsletter
utm_source: email
---

<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <a href="https://drexel.edu/coulter/?utm_source=newsletter&utm_medium=email&utm_campaign=2020_fall_update">
            <img class="float-center" align="center" alt="Coulter-Drexel Translational Research Partnership Program" src="https://drexel.edu/~/media/Images/coulter/home/Coulter-DrexelTranslationalResearchPartnershipProgram.ashx" />
          </a>
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-yellow" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top no-pb">
        <center>
          <h1 class="text-center">
            <!-- HEADER -->
            Fall / Winter 2020 Update
            <!-- / HEADER -->
          </h1>
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <!-- BODY -->
        <h5 class="text-center">A Note from the Director</h5> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id nisl arcu. Sed et luctus risus. Nulla congue orci ligula. Sed ac purus felis. Vestibulum maximus nibh orci, in luctus ante tempus in. Nullam auctor nisi a condimentum rhoncus. Vestibulum vulputate arcu ut scelerisque feugiat. Integer et leo auctor, vestibulum magna nec, suscipit enim. Donec magna eros, maximus in odio vitae, egestas dapibus massa. Morbi ultrices mauris sed nunc faucibus lobortis non ac est.</p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h5 class="text-center">Upcoming Dates to Remember</h5> 
        <ul>
          <li><p>Mid-year Review – January 21, 2020</p></li>  
          <li><p>First  Pitch – April  7, 2020</p></li>
          <li><p>Second Pitch – May 26, 2020</p></li>
        </ul>
        <!-- / BODY -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top no-pb">
        <h5 class="text-center">News Highlights</h5>
        <ul>
          <li><p><strong>Drexel University</strong> Takes Top Spot on National Rankings for Innovation</p></li>
          <li><p><strong>Sandhya Kortagere</strong> Wins 2020 Equalize Therapeutic Award</p></li>
          <li><p><strong>Adrienne Juarascio</strong> Wins Distinguished Drexel 40 Under 40 Award</p></li>
          <li><p><strong>Alex Mazin</strong> wins DOD and NIH grants totaling $2.844 Million to support his development of Inhibitors of RAD52 as a Therapy Against BRCA-Deficient cancers.</p></li>
          <li><p><strong>Kinos Medical</strong> received their 501(k) Substantially equivalent determination for their Axiom Total Ankle Sytem from the FDA. </p></li>
          <li><p><strong>Kelly Beck</strong> announced as CEO of Polycore. </p></li>
          <li><p><strong>The Integra Foundation</strong> awards a second year of 5k to support Coulter Fellows Projects.</p></li>
        </ul>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="small-12 large-4 columns">
        <table>
          <tr>
            <th>
              <center>
                <table class="button">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td><a href="https://drexel.edu/coulter/news/news-archive/?utm_source=newsletter&utm_medium=email&utm_campaign=2020_fall_update">Read Full Stories</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h5 class="text-center">2020-21 Coulter Awardees</h5>
        <p>The Coulter-Drexel Translational Research Partnership Program has awarded over $880,000 total for 2020-2021 to the following projects.</p>
        <ul>
          <li>
            <p><strong>Mxene Sorbents for Efficient and Cost-Effective Dialysate Regeneration</strong></p>
            <p>Yury Gogotsi, PhD, Meera Harhay, MD, Mykola Seredych, PhD, Jesse Kim, and Ian G. Welsford </p>
          </li>
          <li>
            <p><strong>Preclinical optimization of a novel neuroprotective agent to treat Parkinson’s Disease</strong></p>
            <p>Sandhya Kortagere, PhD and Jill Farmer, D.O, MPH</p>
          </li>
          <li>
            <p><strong>Use of non-thermal plasma for treatment of HSV infections</strong></p>
            <p>Vandana Miller, MD, Fred Krebs, PhD, Stephen Jennings, PhD, Brian Wigdahl, PhD, Sean Wang, PhD, and Ken Li, PhD </p>
          </li>
          <li>
            <p><strong>Megabase DNA Sequencing System</strong></p>
            <p>Ming Xiao, PhD, Dharma Varapula, Lahari Uppuluri, Moses Noh, PhD</p>
          </li>
          <li>
            <p><strong>Team IEP: A cloud application for urban districts to improve transition outcomes for ASD youth through iterative, collaborative and synchronized implementation of transition goals by youth, parents and school staff</strong></p>
            <p>Elizabeth McGhee Hassrick, PhD, Brigid Garvin, Ed.S. NCSP, Bridget Sweeney Blakely, PhD, Troy Finamore, Andrew Stutzman, and Paul Phan</p>
          </li>
          <li>
            <p><strong>Orthopedic Surgical Devices with Controlled Fluid- Induced Expansion Properties for Improved Bone Fixation and Bone Integration </strong></p>
            <p>Sorin Siegler, PhD, Giuseppe Palmese, PhD, Antonios Kontsos, PhD, Pablo Huang Zhang, PhD, Keith Wapner, MD, Christopher Jones, MD, Michael Ciccotti, MD, Jarrett Cain, DPM, Thomas P. Shaer, VMD, and Brian Garvey</p>
          </li>
          <li>
            <p><strong>Ice Cream Therapy: Functional Ice Cream Alternative to Oral Nutrition Supplements</strong></p>
            <p>Jonathan Deutsch, Rose Ann DiMaria-Ghalili, Brandy-Joe Milliron, Kathleen Fisher, Dimitri Pappas, and Andrea Wenner</p>
          </li>
        </ul>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>     
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="small-12 large-4 columns">
        <table>
          <tr>
            <th>
              <center>
                <table class="button">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td><a href="https://drexel.edu/coulter/projects/overview/?utm_source=newsletter&utm_medium=email&utm_campaign=2020_fall_update">2020-21 Funded Project Abstracts</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-4 large-3 columns">
        <img src="https://drexel.edu/~/media/Images/coulter/kathie-jordan.ashx?h=184&w=159&la=en&hash=461E3D21976B15C092EE027FD7622FD21821E7F1" alt=" " class="float-right">
      </th>
      <th class="last small-8 large-9 columns" valign="middle">
        <p>
          <!-- Signature -->
          Sincerely, <br>
          Kathie Jordan, PhD <br>
          Coulter Program Director

          <!-- / Signature -->
        </p>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->