---
layout: ffe2-mabd
---

<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Congratulations on your having achieved a major milestone in your lives. We are proud to share with you the BIOMED Class of 2020 Recognition and Honors Website, which includes... </div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <!-- Biomed Logo -->
          <%= home_link %>
            <img class="float-center" align="center" alt=" Drexel University School of Biomed" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
          <%= end_link %>
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>Dear Graduating Students,</p>
        <p>Congratulations on your having achieved a major milestone in your lives. We are proud to share with you the BIOMED Class of 2020 Recognition and Honors Website, which includes:</p>
        <ul>
          <li>Greetings and remarks from President John Fry</li>
          <li>Greetings and remarks from Interim Provost Paul Jensen</li>
          <li>Greetings and remarks from the Dean (Paul Brandt-Rauf, ScD, MD, DrPH) </li>
          <li>Video messages from the Associate Deans (Fred Allen, PhD and Andres Kriete, PhD)</li>
          <li>Video ‘Reading of the Names’ of all graduating BIOMED students</li>
          <li>Senior Design Showcase page</li>
          <li>Master’s and PhD Thesis page</li>
          <li>Student Awards </li>
          <li>2020 Class Photos</li>
        </ul>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="small-12 large-4 columns">
        <table>
          <tr>
            <th>
              <center>
                <table class="button">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td><a href="https://drexel.edu/biomed/news-and-events/events-calendar/class-of-2020/?utm_source=email&utm_medium=email&utm_campaign=2020_commencement&utm_content=launch">BIOMED Class of 2020 Recognition and Honors Website</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
      <p>
        The School is committed to providing a traditional Commencement ceremony when it is safe and feasible to do so, either in the Fall or at the following Commencement in June 2021. We will also be mailing to your home address a BIOMED 2020 Yearbook sometime over the summer. If you have any questions, please contact Danielle Crocker at: <a href="mailto:dnc23@drexel.edu">dnc23@drexel.edu</a>
      </p>
      <p>We wish you the best of luck in all of your future endeavors, and we hope to see you again soon.</p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-4 large-2 columns">
        <img src="http://drexel.edu/~/media/Images/biomed/email/Dean-Paul-Brandt-Rauf-thumbnail.ashx" alt="Paul Brandt-Rauf" class="float-right">
      </th>
      <th class="last small-8 large-10 columns" valign="middle">
        <p>Sincerely,</p>
        <p>
          Paul W. Brandt-Rauf, MD, DrPH, ScD <br>
          <em>Dean and Distinguished University Professor</em>
        </p>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>