---
layout: ffe2-mabd
---

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">The BIOMED Dragon Fellowship will provide up to $7500 of tuition assistance to MS level students...</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <!-- Biomed Logo -->
          <%= home_link %>
            <img class="float-center" align="center" alt=" Drexel University School of Biomed" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
          <%= end_link %>
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row light-grey collapse" role="presentation">
  <tbody>
    <tr>
      <th class="small-12 large-12 columns no-pb first last">
        <center>
          <!-- Test Drive Logo -->
          <a href="mailto:njb33@drexel.edu?subject=Interest in BIOMED Dragon Fellowship">
            <img class="float-center" align="center" alt="BIOMED Dragon Fellowship" src="http://drexel.edu/~/media/Images/biomed/email/diamond.ashx">
          </a>
          <!-- Test Drive Logo End -->
        </center>
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">

        <h1><span style="color: #f00;"><em>NEW!</em></span> BIOMED Dragon Fellowship</h1>
        <p>
          The coronavirus crisis has put a spotlight on the importance of science in supporting our nation's well-being. The need for expertly trained biomedical engineers and biomedical scientists has never been greater or more urgent. In order to enable more students to reach their goals of obtaining a graduate level degree, <strong>The School of Biomedical Engineering Science and Health Systems launched a new scholarship – BIOMED Dragon Fellowship.</strong> The BIOMED Dragon Fellowship will provide <strong>up to $7500</strong> of tuition assistance to MS level students who want to build their talents and help us change the world by advancing biomedical engineering and science.  
        </p>
        <p>Scholarship recipients are selected on the basis of academic record, demonstrated leadership and participation in extracurricular activities, honors, work experience and statement of goals and aspirations.</p>
        <p>As an accepted student no additional supporting documentation is necessary - if you wish to be considered please reply to this email as soon as possible.</p>
        <div class="p-space"></div>

      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="small-12 large-4 columns">
        <table>
          <tr>
            <th>
              <center>
                <table class="button float-center">
                  <tr>
                    <td>
                      <table>
                        <tr>
                          <td><a href="mailto:njb33@drexel.edu?subject=Interest in BIOMED Dragon Fellowship">Contact Natalia Broz</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </tr>
  </tbody>
</table>
<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->