---
layout: "ffe2-mabd-coe"
data_file: "engineeringx"
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Join the Drexel University College of Engineering and School of Biomedical Engineering Science and Health Systems for the ultimate engineering open house!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <% link_to "https://biomed.drexel.edu/media/engineeringx/" do %>
            <img  class="float-center no-pad" align="center" src="https://biomed.drexel.edu/media/engineeringx/images/skyline-580.jpg" alt="Drexel University EngineeringX Open House" />
          <% end %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top"> 
        <!-- <p>Dear Friends of Drexel Biomed,</p> -->
        <h2 class="small text-center"><strong><em>10 AM – 2 PM</em></strong></h2>
        <p class="text-center"><em><strong>Friday, December 6th, 2019</strong></em></p>
        <p class="text-center">
          3rd Floor, Bossone Research Center <br>
          32nd and Market Streets, Drexel University
        </p>
        <center>
          <table class="button radius large float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                        <a href="https://biomed.drexel.edu/media/engineeringx/">Register Now!</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h6>Join the <a href="https://drexel.edu/engineering/">Drexel University College of Engineering</a> and <a href="https://drexel.edu/biomed/">School of Biomedical Engineering Science and Health Systems</a> for the <span style="text-decoration: underline;">ultimate engineering open house</span>!</h6>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-4 columns pad-top" valign="middle">
        <center>
          <img src="https://biomed.drexel.edu/media/engineeringx/images/gears.png" class="float-center" align="center" alt=" ">
        </center>
        <h6 class="text-center"><span class="red-text">Learn</span> about collaboration and innovation in engineering research and graduate studies at Drexel</h6>
      </th>
      <th class="small-12 large-4 columns pad-top" valign="middle">
        <center>
          <img src="https://biomed.drexel.edu/media/engineeringx/images/grad.png" class="float-center" align="center" alt=" ">
        </center>
        <h6 class="text-center"><span class="red-text">Speak</span> with current graduate students, advisors, and faculty</h6>
      </th>
      <th class="last small-12 large-4 columns pad-top" valign="middle">
        <center>
          <img src="https://biomed.drexel.edu/media/engineeringx/images/labs.png" class="float-center" align="center" alt=" ">
        </center>
        <h6 class="text-center"><span class="red-text">Explore</span> our facilities via lab tour</h6>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p><strong>All prospective and accepted students interested in the following disciplines are invited to attend:</strong></p>
        <ul>
          <li>Architectural Engineering</li>
          <li>Biomedical Engineering, Biomedical Science</li>
          <li>Integrated Biomedical Engineering and Business</li>
          <li>Chemical Engineering</li>
          <li>Civil Engineering</li>
          <li>Computer Engineering</li>
          <li>Electrical Engineering</li>
          <li>Engineering Technology</li>
          <li>Environmental Engineering</li>
          <li>Materials Science and Engineering</li>
          <li>Mechanical Engineering</li>
          <li>Systems Engineering</li>
          <li>Engineering and Project Management</li>    
        </ul>
      </th>
      <th class="expander">
        <td>
          <%= track_opens_url %>
        </td>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" row="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-6 columns">
        <img src="https://biomed.drexel.edu/media/engineeringx/images/microchip-280.png" />
        <br>
        <h6>Agenda</h6>
        <p>
          <strong>10 AM – 12 Noon</strong> <br>
          Welcome Presentation and Student Panel
        </p>
        <p>
          <strong>12 Noon – 12:30 PM </strong><br>
          Academic Advisor Sessions
        </p>
        <p>
          <strong>12:30 – 2 PM</strong> <br>
          Lab Tours!
        </p>
      </th>
      <th class="last small-12 large-6 columns">
        <img src="https://biomed.drexel.edu/media/engineeringx/images/bossone-280.png" />
        <br>
        <h6>Parking and Directions</h6>
        <p>
          <strong>Directions / Getting to Campus:</strong> <br>
          <a href="https://drexel.edu/about/directions/university-city-campus">University City Campus Map &amp; Directions</a>
        </p>

        <p>
          <strong>Parking:</strong> <br>
          <a href="https://drexel.edu/business-services/parking/daily-parking">Drexel Visitor &amp; Daily Parking</a>
        </p>
      </th>
      <th class="expander">
    </tr>
  </tbody>
</table>
