---
layout: ffe2-mabd
source: biomed_email
campaign: gip_abc
preheader: "On behalf of the GIP/ABC team, it is my special pleasure to invite you to the luncheon hosted by the Global Innovations Partners ‘Accelerating Binational Commercialization’ on Thursday November 1 at 12:00 - 2:30pm in the Study Hotel University City, Drafting Room on the Second Floor."
---

<table class="row preheader" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"><%= current_page.data.preheader %></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="https://gallery.mailchimp.com/9ee8cc88a667fa4248b526616/images/26eda556-e086-4d34-91d7-362897706dc2.png" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <h1 class="blue-text"><center>Global Innovation Partners<br> Accelerating Binational Commercialization</center></h1>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <!-- <img class="float-center" align="center" alt="Always Sunny in Philadelphia" src="http://drexel.edu/~/media/Images/biomed/email/mario-sunny-in-philly.ashx" /> -->
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>
          Dear ....,
        </p>
        <p>
          On behalf of GIP~ABC, it is my special pleasure to invite you to the luncheon hosted by the Global Innovation Partners ‘Accelerating Binational Commercialization’ team on Thursday, November 1, 2018 at 12:00 - 2:30pm in the 2nd Floor Drafting Room of The Study Hotel - University City, 20 S. 33rd St, Philadelphia, PA 19104.
        </p>
        <p>
          We are delighted that GIP~ABC plans to join our biomedical innovation community on the day when we celebrate the 20th Anniversary of our School of Biomedical Engineering, Science and Health Systems, Drexel University. Moreover, we are excited that GIP~ABC is inspired and informed by the Coulter-Drexel Translational Research Partnership Program.
        </p>
        <p>
          The luncheon program will begin at 12:45pm with greetings from Dean Paul Brandt-Rauf and H. H. Sun Professor Banu Onaral. Stephen Zarrilli, President of the University City Science Center will deliver the ‘Welcome Address‘ at 1:00pm. Members of GIP~ABC will share their vision and mission as new members of our innovation family at 1:30pm, followed by Q/A and open discussion.
        </p>
        <p>
          For catering purposes, <a href="https://drexel.qualtrics.com/jfe/form/SV_2sDQ3Y3rUlo9dml">please RSVP via this link</a> or by return mail to <a href="mailto:banu.onaral@drexel.edu">banu.onaral@drexel.edu</a>
        </p>
        <table class="button alert">
          <tr>
            <td>
              <table>
                <tr>
                  <td><a href="https://drexel.qualtrics.com/jfe/form/SV_2sDQ3Y3rUlo9dml">RSVP</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <p>
          By anchoring GIP~ABC in our city, our ‘global innovation partners’ have affirmed that Philadelphia is open for business as a 'home away from home’ for our international innovation partners,
        </p>
        <p>
          Banu
        </p>

        <br>
        <hr>

        <p style="font-size: 11px; line-height: 12px;">Banu Onaral, PhD <br>
        H.H. Sun Professor <br>
        Senior Advisor to President, Global Innovation Partnerships <br>
        Drexel University <br>
        & <br>
        CONQUER CollabOrative <a href="https://drexel.edu/conquer/">drexel.edu/conquer/</a> <br>
        School of Biomedical Engineering, Science and Health Systems <br>
        <a href="https://drexel.edu/biomed">drexel.edu/biomed</a> <br><br>

        <a href="mailto:banu.onaral@drexel.edu">banu.onaral@drexel.edu</a> <br>
        Office:+1 215 895 2247 <br>
        Mobile:+1 215 776 2194</p>
        <%= tag :img, :src => "#{track_opens_url}" %>


        </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
