---
layout: "html5bp"
---

%h1 Drexel BIOMED Newsletters

%table{border: "1"}
  %thead
    %tr
      %th Academic Year
      %th{colspan: "4"}
  %tbody
    / %tr
    /   %td
    /     %strong 2013 - 2014
    /   %td ----
    /   %td ----
    /   %td= link_to "Spring", "./spring2013-14-online.html"
    /   %td= link_to "Summer", "./summer2013-14-online.html"
    / %tr
    /   %td
    /     %strong 2014 - 2015
    /   %td= link_to "Fall", "./fall2014-15-online.html"
    /   %td ----
    /   %td ----
    /   %td ----
    %tr
      %td
        %strong 2015 - 2016
      %td ----
      %td= link_to "Winter", "./winter-2016.html"
      %td= link_to "Spring", "./spring-2016.html"
      %td ----
