---
layout: ink-mabd
data_file: meetDragon
---

<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row blue"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <%= home_link %>
                        <img class="center logo" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
                      <%= end_link %>
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container"> <!-- Styles go on the row -->
  <tr>
    <td> <!-- Center the container -->
        <table class="row gold"> <!-- Container restricts the content width -->
          <tr>
            <td class="wrapper last"> <!-- Wrapper stays on the inner table -->
              <table class="twelve columns">
                <tr>
                  <td class="center">
                    <center>
                      <span class="heading">Meet a BIOMED Dragon: Aarti Kamath</span><br>
                      MS in Biomedical Engineering with Graduate Co-op Option
                    </center>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper">
            <table class="five columns">
              <tr>
                <td class="text-pad-left">
                  <img src="http://drexel.edu/~/media/Images/biomed/students/aarti-kamath-co-op-braun-worldwide.aspx">
                </td>
                <td class="expander">
                  <%= tag :img, :src => "#{track_opens_url}" %>
                </td>
              </tr>
            </table>
          </td>
          <td class="wrapper last">
            <table class="seven columns">
              <tr>
                <td class="text-pad-right">
                  <p>
                    Hi! My name is Aarti Kamath and I am a master’s student in biomedical engineering at Drexel University. I started in the MS program in September, 2014 and I am now just months from graduation! I joined the biomedical engineering program to learn about medical devices, and today as I look back, I am sure I made the right choice. The program's curriculum allowed me the flexibility to choose the courses that focused on my area of interest and that are crucial to propelling my career in the area of medical device development.
                  </p>
                  <p>
                    My experience at Drexel was different than that of my friends at other universities–I graduated with an MS degree AND also with almost 7 months of hands-on professional experience at a world-renowned pharmaceutical device company. I completed the graduate co-op options offered in the MS in biomedical engineering and biomedical science program and found a paid co-op (internship) position with B. Braun Medical Inc. in Allentown, PA. During my co-op, I was able to apply what I learned in the classroom and gain many new additional skills, while making significant contributions to the healthcare industry. Shortly after graduation, I was offered a full-time position with B. Braun Medical Inc.
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="container content">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last no-pad">
            <table class="twelve columns">
              <tr>
                <td class="text-pad">
                  <p><strong>About the Graduate Co-op Option at Drexel University</strong></p>
                  <p>This optional program enables students to accept paid positions in their career fields–and receive academic credit. Employment opportunities are available in 3- or 6-month installments; the program is an option for both domestic and international students. Additional information can be found at the <a href="http://drexel.edu/scdc/co-op/graduate/">SCDC Graduate Co-op website</a>.</p>
                  <p>Our co-op option is an ideal choice for students who are interested in pursuing industry employment after graduation. </p>
                  <p>The US Bureau of Labor Statistics projects that the employment of biomedical engineers is projected to grow 23 percent from 2014 to 2024, much faster than the average for all occupations combined. Advancing technology and its application to medical equipment and devices, along with an aging population, will increase demand for the work of biomedical engineers for years. </p>
                  <p>Please let us know if you have any questions about our MS in Biomedical Engineering or MS in Biomedical Science programs with the graduate co-op option!</p>
                  <p>
                    <strong>Natalia Broz</strong> <br>
                    <em>Associate Director for Graduate Programs</em> <br>
                    Email: <a href="mailto:njb33@drexel.edu">njb33@drexel.edu</a>
                  </p>
                </td>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= partial "newsletter-footer" %>