---
layout: mc-ffe2-newsletter
source: mailchimp
---

<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">*|MC_PREVIEW_TEXT|*</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img mc:edit="logo_image" mc:allowdesigner mc:allowtext class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <img mc:edit="header_image" mc:allowdesigner mc:allowtext class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/dban-logo-2.ashx" alt=" " />
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top" mc:edit="header">
        <h1>DBAN: New Biomed Alumni Event</h1>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th mc:edit="body" class="first last small-12 large-12 columns pad-top no-pb">
        <p>Hello!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare metus ut tellus lobortis accumsan. Curabitur iaculis fringilla ullamcorper. In rhoncus justo in leo mollis, nec mollis enim aliquet. Nunc ornare orci lorem, ut maximus felis feugiat nec. Vestibulum vitae luctus leo. Sed erat arcu, scelerisque id cursus id, malesuada vulputate leo. Praesent posuere, sapien ut interdum bibendum, justo magna auctor velit, cursus sollicitudin augue diam sed purus.

        <p>In vulputate neque a neque volutpat mollis. Mauris nec mollis ipsum. Sed mollis aliquet ipsum, vitae cursus nunc venenatis id. Nunc tempor massa in sem aliquet, a suscipit enim pulvinar. Nam mollis, nisl ut tincidunt laoreet, leo tortor pretium justo, a ornare turpis nisl et diam. Sed scelerisque ligula nunc, et ornare turpis mattis id. Quisque in egestas elit. Mauris eget posuere nunc. Aenean imperdiet neque libero, tempus fermentum dui finibus nec. Sed diam urna, rhoncus vel dictum eget, accumsan ut augue. Proin viverra porttitor neque, at consequat sem imperdiet vel. Phasellus efficitur tempor convallis. Donec nisi elit, posuere vel turpis eu, elementum tincidunt nulla. Proin tincidunt odio vitae mauris scelerisque, sit amet tristique elit ultricies. Nam sed elit non sapien commodo consequat sit amet ut erat.</p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th mc:edit="button" class="first last small-12 large-12 no-pb columns">
        <center>
          <table class="button-mc rounded large float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                      <a href="https://alumni.drexel.edu/s/1683/alumni/interior.aspx?sid=1683&gid=2&pgid=1926&content_id=1689">Register Now</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th mc:edit="sign-off" class="first last small-12 large-12 no-pb columns">

        <p class="sign-off">Thank you,</p>

        <p class="sign-off">DBAN Board</p>
        <br>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
