---
layout: ffe2-newsletter
data_file: deansMessage
source: senior-showcase
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Please join us to celebrate our graduating seniors!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <!-- <p>Dear Friends of Drexel Biomed,</p> -->
        <h2 class="small"><strong><em>Save the Dates!</em></strong></h2>
        <p><em>Formal invitation to follow.</em></p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <ul>
          <li>
            <strong>Friday, June 1, 2018 at 5:00 PM</strong>
            <h3 class="small">Senior Design Showcase</h3>
            Behrakis Grand Hall <br>
            <em>Join us to celebrate our graduating seniors!</em><br>
            <em>Formal invitation to follow.</em>
          </li>
          <br>
          <li>
            <strong>Monday, June 11, 2018 at 7:00 PM</strong>
            <h3 class="small">New Alumni Welcome Social</h3>
            <em>Urban Axes</em>
          </li>
          <br>
          <li>
            <strong>Thursday, June 14, 2018 at 1:00 PM </strong>
            <h3 class="small">Commencement: School of Biomedical Engineering, Science and Health Systems</h3>
             <em>Daskalakis Athletic Center</em>
          </li>
          <br>
          <li>
            <strong>Friday, June 15, 2018 at 7:30 PM</strong>
            <h3 class="small">University-wide Commencement Ceremony</h3>
            <em>Citizen's Bank Park</em>
          </li>
        </ul>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
