---
layout: "ffe2-newsletter"
data_file: "senior-showcase-2019"
utm_source: "Save%20the%20Date%202019"
utm_campaign: "Save%20the%20Date%202019"
utm_dt: "Save%20the%20Date%202019"
utm_dp: "%2media%2emails%2senior-showcase-2019.html"
utm_dl: "http%3A%2F%2Fbiomed.drexel.edu"
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Please join us to celebrate our graduating seniors!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <!-- <p>Dear Friends of Drexel Biomed,</p> -->
        <h2 class="small"><strong><em>Save the Dates!</em></strong></h2>
        <p><em>Formal invitation to follow.</em></p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <ul>
          <li>
            <strong>Thursday, May 30, 2019 at 5:00 PM</strong>
            <h3 class="small">Biomed Senior Celebration and Showcase</h3>
            Behrakis Grand Hall <br>
            <em>Join us to celebrate our graduating seniors!</em><br>
            <em>Formal invitation to follow.</em>
          </li>
        </ul>
        <ul>
          <li>
            <strong>Thursday, June 13, 2019 at 1:00 PM</strong>
            <h3 class="small">Commencement: School of Biomedical Engineering, Science and Health Systems</h3>
             <em>Daskalakis Athletic Center</em>
          </li>
        </ul>
        <ul>
          <li>
            <strong>Friday, June 14, 2019 at 7:30 PM</strong>
            <h3 class="small">University-wide Commencement Ceremony</h3>
            <em>Citizens Bank Park<br>South Philadelphia Sports Complex</em>
          </li>
        </ul>
      </th>
      <th class="expander">
        <td>
          <%= track_opens_url %>
        </td>
      </th>
    </tr>
  </tbody>
</table>
