---
layout: ffe2-newsletter
data_file: deansMessage
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Please join us to celebrate our graduating seniors!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>Dear Friends of Drexel Biomed,</p>
        <p><strong>Please join us to celebrate our graduating seniors!  We are delighted to invite you to the Spring 2017 Senior Design Showcase of Drexel University's School of Biomedical Engineering, Science and Health Systems (BIOMED)! This event will be held from 4-7 pm on Wednesday, May 17, 2017, on our University City Campus at the George D. Behrakis Grand Hall.</strong></p>
        <p>This event will showcase the highly innovative biomedical design projects of our more than 130 graduating seniors and their interdisciplinary teammates in celebration of their accomplishments. Many of these projects started with clinical shadowing to identify unmet medical needs, followed by rigorous engineering design of an innovative solution, iterations of prototypes, and testing of the built solution. Several of these student-driven design projects are pursuing intellectual property protection.  During this event, students will also compete for Design & Innovation Awards supported by BIOMED and your generous donations, which are greatly appreciated. This will ensure the continued success of our students and their design-centered, experiential education to develop life-saving solutions.</p>
        <p>Hors d'oeuvres and non-alcoholic beverages will be served during the event.  Here is the schedule of the Spring 2017 Senior Design Showcase below:</p>
        <p>
        4:00 PM – 4:15 PM  –  Showcase Event Registration <br>
        4:15 PM – 5:45 PM  –  Poster Presentations, Judging, and Networking <br>
        6:00 PM – 6:45 PM  –  BIOMED Design & Innovation Awards Ceremony <br>
        6:45 PM – 7:00 PM  – Concluding Remarks
        </p>
        <p><strong>Event Address: George D. Behrakis Grand Hall, 3210 Chestnut St. Philadelphia, PA 19104 (Inside Creese Student Center, on Chestnut St. between 32nd and 33rd streets.</strong></p>
        <table class="button large">
          <tr>
            <td>
              <table>
                <tr>
                  <td><a href="https://secure.touchnet.com/C20688_ustores/web/product_detail.jsp?PRODUCTID=1609">Register Now</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <p><strong>Here is information on parking and directions:</strong></p>
        <ul>
          <li><a href="http://drexel.edu/engineering/about/contact-us/maps/Parking/">Parking Options</a></li>
          <li><a href="http://www.drexel.edu/campusservices/parkingservices/overview/visitors/">Parking for Visitors</a></li>
          <li><a href="http://drexel.edu/engineering/about/contact-us/maps/PublicTransit/">Public Transportation</a></li>
        </ul>
        <p>We look forward to seeing you at the Spring 2017 Senior Design Showcase Event! If you know of others who are interested in participating, please share this information and the registration link!</p>
        <p><strong>Please feel free to contact Danielle Crocker at <a href="mailto:dnc23@drexel.edu">dnc23@drexel.edu</a>, Dr. Amy Throckmorton at <a href="mailto:alt82@drexel.edu">alt82@drexel.edu</a>, or call Drexel BIOMED at (215) 895-2215.</strong></p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-4 large-2 columns">
        <img src="http://drexel.edu/~/media/Images/biomed/email/Dean-Paul-Brandt-Rauf-thumbnail.ashx" alt="Paul Brandt-Rauf" class="float-right">
      </th>
      <th class="last small-8 large-10 columns" valign="middle">
        <p>Sincerely,</p>
        <p>
          Paul W. Brandt-Rauf, ScD, MD, DrPH <br>
          <em>Dean and Distinguished University Professor</em>
        </p>
      </th>
      <th class="expander">
        <%= tag :img, :src => "#{track_opens_url}" %>
      </th>
    </tr>
  </tbody>
</table>

<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-6 columns pad-top">
        <% link_to "http://www.drexel.edu/biomed/academics/undergraduate-programs/star-scholars#{gua('star')}" do %>
          <img src="http://www.drexel.edu/~/media/Images/biomed/email/alumni-1.ashx" alt="STAR Scholar Ryan Banjamin">
        <% end %>
      <th class="last small-12 large-6 columns pad-top">
        <h6>Biomed Dragons Alumni Network Kickoff Mixer</h6>
        <p><em>Wednesday, May 17, 2017</em></p>
        <p>Play a part in the formation of the Biomed Dragons Alumni Network at this special kickoff reception! Meet new colleagues and mingle with old friends as you share ideas for future events and points of focus for the group.</p>
        <table class="button">
          <tr>
            <td>
              <table>
                <tr>
                  <td><a href="http://drexel.imodules.com/s/1683/alumni/index.aspx?sid=1683&gid=2&pgid=1354&content_id=1015">Learn More</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<!--%= partial "newsletter-footer" %-->
