---
layout: ffe2-newsletter
source: town-hall
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Bring your questions and ideas!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University School of Biomedical Engineering" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p class="text-center">The School of Biomedical Engineering, Science and Health Systems invites you to a</p>
        <h2 class="small text-center"><strong>Town Hall Meeting with the Dean</strong></h2>
        <br>
        <center>
          <img src="http://drexel.edu/~/media/Images/biomed/email/Dean-Paul-Brandt-Rauf-thumbnail.ashx" alt="Paul Brandt-Rauf"  class="float-center" align="center">
        </center>
        <br>
        <p class="text-center">
          Paul W. Brandt-Rauf, ScD, MD, DrPH <br>
          <em>Dean and Distinguished University Professor</em>
        </p>
        <br>
        <h3 class="small text-center">Tuesday, May 15th from 4:00 – 5:30 PM</h3>
        <p class="text-center">
          Hill Conference Room (Lebow 240)<br>
          LeBow Engineering Center <br>
          31<sup>st</sup> and Market Street, <br>
          Philadelphia, PA 19104
        </p>
        <br>
        <p class="text-center">
          <strong>
            Bring your questions and ideas <br>
            <span class="highlight-blue">Food and Refreshments will be served!</span>
          </strong>
        </p>
        <br>
        <%= tag :img, :src => "#{track_opens_url}" %>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

