---
layout: "ffe2-newsletter"
data_file: ""
utm_source: "Bioinformatics%20Certificate"
utm_campaign: "Bioinformatics%20Certificate"
utm_dt: "Bioinformatics%20Certificate"
utm_dp: "%2media%2emails%2penn-bio-cert.html"
utm_dl: "http%3A%2F%2Fbiomed.drexel.edu"
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">The final winning design will be turned into merchandise, and prizes will be awarded to creators of both final designs.</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row light-grey" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <h2 class="small"><strong>Biomed at Drexel T-Shirt Design Contest</strong></h2>
        <div class="p-space">&nbsp;</div>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <a href="https://drexel.edu/biomed/news-and-events/events-calendar/tshirt-design-contest/">
          <img class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/alumni/logo-competition-page-img.ashx" alt="Drexel University | School of Biomed" />
          </a>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>
          The School of Biomedical Engineering, Science and Health Systems invites incoming and current students to participate in its T-shirt Design Contest. Two winning designs will be selected by a panel of judges, and students will vote on their favorite via Facebook. The final winning design will be turned into merchandise, and prizes will be awarded to creators of both final designs.
        </p>
        <div class="p-space">&nbsp;</div>
        <h2 class="small" style="text-align: center;">Design Requirements</h2>
        <p>
          To be eligible for consideration in the contest, each design must: 
        </p>
        <ol>
          <li>use 2 color maximum; design can appear on the shirt’s front, back or both (the shirt itself will be navy)</li>

          <li>incorporate biomedical engineering (as a discipline), Mario the Dragon (the University’s mascot), and the School’s full name (The School of Biomedical Engineering, Science and Health Systems at Drexel University) (Game of Thrones inspired designs are welcomed) </li>

          <li>not be larger than 15”X15” </li>

          <li>appeal to the broadest possible audience </li>
        </ol>
        <div class="p-space">&nbsp;</div>
        <h2 class="small" style="text-align: center;">Submit Your Entry (Or Entries)</h2>
        <p style="text-align: center;">
          <a href="https://drexel.qualtrics.com/jfe/form/SV_0xjTTbG8l53f2ip"><strong>Submission Upload</strong></a><br>
          Files will be accepted in .jpg (at least 1000 pixels)<br>
          All Submissions must be made by <strong>Friday, August 16, 2019</strong>
        </p>
        <div class="p-space">&nbsp;</div>
        <h2 class="small" style="text-align: center;">Contest Rules</h2>
        <p>
          By participating in the T-shirt Design Contest, you agree to the following terms and conditions:
        </p>
        <p>
          <strong>Entry:</strong> No purchase is necessary to enter or win. Contestants may enter by submitting designs in accordance with the guidelines above. Entries that are not received during the contest period and entries that are deemed inappropriate, offensive or otherwise unusable will not be considered. The university is under no obligation to use any entry or return entries to contestants.
        </p>
        <p><strong>Eligibility:</strong> The contest is open only to Drexel University incoming students and currently enrolled </p>
        <p><strong>Original Work:</strong> Subject to the possible inclusion of the Drexel logo, entries must be original work of the submitting contestant and not copied from or infringing upon the intellectual property rights of any third party.</p>
        <p><strong>Ownership and Use of Entries:</strong> All entries become the property of Drexel University. The university reserves the right to use any and all information related to the contest, including entries provided by the contestants, for editorial, marketing and any other purpose unless prohibited by law.</p>
        <p><strong>Notification of Winner[s]:</strong> The winning contestant[s] will be notified by email to address from which the entry was received within three days after the selection of a winning entry. Inability to contact a winner may result in disqualification and selection of an alternate winner.</p>
        <p><em>By submitting an entry, each participant hereby irrevocably conveys, transfers and exclusively assigns to Drexel University all rights, title and interests in and to the entry, including all copyrights. Each participant represents and warrants that s/he has full legal right, power and authority to assign and grant the foregoing rights and, if applicable, has secured all necessary rights from any participants in, and contributors to, his/her entry in order to grant such rights. Each participant agrees and acknowledges that Drexel University shall have the right to obtain and exclusively hold, in its own name, and to license and assign to others all copyrights, which may be available for the entry, in any and all media and/or formats. Participant agrees to give Drexel University any and all assistance reasonably required to protect Drexel University’s ownership and exclusive proprietary rights in and to the entry, including the execution of any instruments necessary to evidence, formalize and/or confirm Drexel University’s ownership of the entry and/or to execute any instruments required to register copyrights, assignment of copyrights and/or any other documents deemed reasonably necessary by Drexel University. Participant understands and, without limiting the rights granted above, hereby irrevocably grants Drexel University and third parties licensed by Drexel University the rights to reproduce, market, distribute, publicly display, publicly perform and otherwise commercially exploit the entry for use in Drexel University advertising or promotional campaigns conducted by or on behalf of Drexel University and/or any other Drexel University affiliated organizations.</em></p>
      </th>
      <th class="expander">
        <td>
          <%= track_opens_url %>
        </td>
      </th>
    </tr>
  </tbody>
</table>
