---
layout: ffe2-newsletter
source: urban-axes
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Please join us to celebrate our graduating seniors!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <a href="https://alumni.drexel.edu/s/1683/alumni/interior.aspx?sid=1683&gid=2&pgid=1926&content_id=1689">
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/dban-logo-2.ashx" alt="DBAN Logo" />
          </a>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h2 class="small"><strong>DBAN: New Biomed Alumni Welcome Social</strong></h2>
        <ul>
          <li>
            <strong>Monday, June 11, 2018 at 7:00 PM</strong><br>
            <a href="https://urbanaxes.com/"><em>Urban Axes</em></a>
          </li>
        </ul>
        <p>Hello!</p>
        <p>
          Join Drexel’s Biomed Alumni Network for a night of axe throwing as we welcome the new graduates to our Alumni Network! This event will be held at <a href="https://urbanaxes.com/">Urban Axes</a> on 2019 E Boston Street, Philadelphia, PA on June 11th, from 7-9:30 PM. The cost of this event is $20 and includes admission to axe throwing, food, and an Urban Axes koozie. Urban Axes is a BYO establishment with some restrictions.
        </p>
        <p>This event will be a mix of graduating students and alumni and will be a great opportunity to have fun while networking!</p>

        <p>Please sign up on the registration link provided below. <strong>Registration closes on June 3 and space is limited so register soon!</strong> We cannot accommodate on-site registration for this type of event, so don’t wait!
        </p>
        <center>
          <table class="button rounded large float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td><a href="https://alumni.drexel.edu/s/1683/alumni/interior.aspx?sid=1683&gid=2&pgid=1926&content_id=1689">Register Now</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>

        <p>Thank you, and hope to see you there!</p>

        <p>DBAN Board</p>
        <br>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
