---
layout: "ffe2-mabd"
utm_campaign: "Open_House"
utm_source: "email"
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">In today’s world, the need for more biomedical engineers and scientists has never been greater!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <% link_to "https://drexel.zoom.us/webinar/register/WN_tml_BKR_Quy7VYD6xyf-Zg" do %>
            <img  class="float-center no-pad" align="center" src="https://biomed.drexel.edu/media/emails/EXEL2019_Web_HumanAnatomy_opener.png" alt="Drexel University EngineeringX Open House" />
          <% end %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top"> 
        <!-- <p>Dear Friends of Drexel Biomed,</p> -->
        <h2 class="small text-center"><strong><em>10 AM </em></strong></h2>
        <p class="text-center"><em>Eastern Time (US and Canada)</em></p>
        <p class="text-center"><strong>Saturday, Feb 20<sup>th</sup>, 2021</strong></p>

        <center>
          <table class="button radius float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                        <a href="https://drexel.zoom.us/webinar/register/WN_tml_BKR_Quy7VYD6xyf-Zg">RSVP</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
        <p class="text-center">
          <em>Via Zoom Webinar</em>
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h6>Join us for the <strong>BIOMED Virtual Graduate Open House!</strong></h6>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <p>In today’s world, the need for more biomedical engineers and scientists <strong>has never been greater</strong>! From the cleaning solutions used to disinfect hospital surfaces, through the ventilators helping keep patients alive, to the development and production of vaccines, biomedical engineers and scientists play a big role in humanity’s efforts to fight COVID&#8209;19, and beyond.</p>

        <p>With expertise spanning physiology, biology, bioinformatics, biomechanics, and engineering, biomedical engineers and scientists combine their diverse skills to create life-enhancing, life-saving solutions to solve worldwide health issues (including the current pandemic), <strong>helping improve how patients are treated and lowering the cost of care</strong>. If you would like to join the ranks of professionals helping engineer a better tomorrow, please join us to learn about the <em><strong>MS in Biomedical Engineering</strong>, <strong>MS in Biomedical Science</strong>, and <strong>MS in Bioinformatics</strong></em> programs at the School of Biomedical Engineering, Science and Health Systems on Saturday, February 20th at 10 AM.</p>
        <br>
        <center>
          <table class="button radius large float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                        <a href="https://drexel.zoom.us/webinar/register/WN_tml_BKR_Quy7VYD6xyf-Zg">Register Now!</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
