---
layout: "ffe2-mabd"
utm_campaign: "2020-scholarship"
utm_source: "email"
---
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader">Join the School of Biomedical Engineering Science and Health Systems for the Virtual BIOMED Open House – Drexel Class of 2020 Scholarship Edition!</div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <% link_to "https://drexel.zoom.us/webinar/register/WN_fx7Q9rBuQW-1rCu0KLyG3Q" do %>
            <img  class="float-center no-pad" align="center" src="https://biomed.drexel.edu/media/graduate-open-house/images/virtual-banner-scholarship-580.jpg" alt="Drexel University EngineeringX Open House" />
          <% end %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <h6 class="text-center">Join Drexel's School of Biomedical Engineering Science and Health Systems (BIOMED) for the <strong>BIOMED Virtual Graduate Open House <span style="color: #971b2f;">Drexel Class of 2020 Scholarship Edition</span></strong>!</h6>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top"> 
        <!-- <p>Dear Friends of Drexel Biomed,</p> -->
        <h2 class="small text-center"><strong><em>10 AM </em></strong></h2>
        <p class="text-center">Eastern Time (US and Canada)</p>
        <p class="text-center"><em><strong>Saturday, July 11th, 2020</strong></em></p>
        <p class="text-center">
          <em>Zoom Webinar</em>
        </p>
        <center>
          <table class="button radius float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                        <a href="https://drexel.zoom.us/webinar/register/WN_fx7Q9rBuQW-1rCu0KLyG3Q">RSVP</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p><strong>At our Virtual Open House you'll find:</strong></p>
        <ul>
          <li>Drexel Undergraduate Class of 2020 Scholarship Details (effective for all MS programs at the School of Biomedical Engineering, Science and Health Systems), Eligibility Information, and Application Information.<div class="p-space">&nbsp;</div></li>

          <li>Information about how our innovative graduate academic programs in <strong>biomedical engineering, biomedical science, integrated biomedical engineering and business, and bioinformatics</strong> integrate classroom study with cutting edge research and real-world experience.<div class="p-space">&nbsp;</div></li>

          <li>Details of the School’s unique characteristics and information on <strong>certificates</strong> and <strong>concentration / specialization areas</strong> available to students.<div class="p-space">&nbsp;</div></li>

          <li>The facts about Drexel Graduate Co-op and Master's Research Thesis Options available to our students.<div class="p-space">&nbsp;</div></li>

          <li>The opportunity to hear from <strong>current Drexel BIOMED students</strong> about their experience.<div class="p-space">&nbsp;</div></li>  
          
          <li><strong>Pay / Job Outlook and Our Alumni: Where are they now?</strong><div class="p-space">&nbsp;</div></li>  
        </ul>
        <center>
          <table class="button radius large float-center">
            <tr>
              <td>
                <table>
                  <tr>
                    <td>
                        <a href="https://drexel.zoom.us/webinar/register/WN_fx7Q9rBuQW-1rCu0KLyG3Q">Register Now!</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
