---
layout: ffe2-mabd
source: biomed_email
campaign: visit_campus
preheader: "Interested in visiting our campus in the beautiful city of Philadelphia?"
---

<table class="row preheader" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"><%= current_page.data.preheader %></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue yellow-border-bottom" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <center>
          <!-- Biomed Logo -->
          <%= home_link %>
            <img class="float-center" align="center" alt=" Drexel University School of Biomedical Engineering" src="http://drexel.edu/~/media/Images/biomed/email/Biomed_TwoLine_WHITE_Gold.ashx" />
          <%= end_link %>
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"><%= tag :img, :src => "#{track_opens_url}" %></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <center>
          <!-- Biomed Logo -->
          <img class="float-center" align="center" alt=" Biomedical Engineering MS Student" src="http://drexel.edu/~/media/Images/biomed/email/visit-campus.ashx" />
          <!-- Biomed Logo End -->
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <p>Dear All:</p>
        <p>If you are interested in visiting our campus in the beautiful city of Philadelphia, below please find dates multiple dates during which we will be able to host you on campus:</p>
      </th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-8 columns">
        <p>
          <strong>Saturday, February 24, 2018 @ 10 AM – 1:30 PM</strong>
          <h6><strong>Drexel BIOMED Group Visit</strong></h6>
        </p>
        <p>Includes: Campus Tour, Lab Tour, Graduate Program Overview, Meet and Chat with advisors and current students </p>
        <table class="button">
          <tr>
            <td>
              <table>
                <tr>
                  <td><a href="https://drexel.qualtrics.com/jfe/form/SV_eJrmY8gvoLTtpcN">Register for visit</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </th>
      <th class="last small-12 large-4 columns">
        <center>
          <img class="float-center" align="center" alt="College Choice Best BME Master's Badge" src="http://drexel.edu/~/media/Images/biomed/email/visit-lab.ashx" />
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>

<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns">
        <p>
          <strong>Sunday, March 11, 2018 @ 10:30 AM – 1:30 PM </strong>
          <h6><strong>Drexel Spring Graduate Open House</strong></h6>
        </p>
        <p>Includes: Campus Tour, Graduate Program Overview, Meet and Chat with advisors and current students </p>
        <br>
        <p>
          <strong>April 6, 2018 @ TIME TBD (FRIDAY) </strong>
          <h6><strong>BIOMED and College of Engineering Group Visit and Open House</strong></h6>
        </p>
        <p>Includes: Campus Tour, Lab Tour, Graduate Program Overview, Meet and Chat with advisors and current students </p>
        <br>
        <p>
          Please let me know if you have any questions or need more information. We are hoping to meet you in person at one of the events.
        </p>
        <br>
        <p>
          Best,
          <br>
          Dr. Kriete, Carolyn, and Natalia
        </p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->