---
layout: ffe2-mabd
source: biomed_email
campaign: visit_campus
preheader: "Interested in visiting our campus in the beautiful city of Philadelphia?"
---

<table class="row preheader" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"><%= current_page.data.preheader %></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th style="vertical-align: middle;" class="first pad-top small-5 large-5 columns" vertical-align="middle">
        <a href="https://drexel.edu/engineering">
          <img class="float-center white-text" align="center" alt=" Drexel University School of Biomedical Engineering" src="http://drexel.edu/~/media/Images/engineering/ui/Engineering_primary.ashx" />
        </a>
      </th>
      <th style="vertical-align: middle;" class="pad-top small-1 large-1 columns"><center><h2 class="white-text">+</h2></center></th>
      <th style="vertical-align: middle;" class="last pad-top small-5 large-5 columns" vertical-align="middle">
        <a href="https://drexel.edu/biomed">
          <img class="float-center white-text" align="center" alt=" Drexel University School of Biomedical Engineering" src="http://drexel.edu/~/media/Images/biomed/email/biomed-gold-white-primary-png.ashx" />
        </a>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-yellow" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <h1 class="blue-text"><center>BIOMED and College of Engineering Group Visit and Open House</center></h1>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <img class="float-center" align="center" alt="Sunny Drexel Bossone with Clock" src="http://drexel.edu/~/media/Images/biomed/email/visit-campus.ashx" />
          <%= tag :img, :src => "#{track_opens_url}" %>
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>Dear All:</p>
        <p>If you are interested in visiting our campus in the beautiful city of Philadelphia, below please find dates multiple dates during which we will be able to host you on campus:</p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-8 columns">
        <p>
          <strong>April 6, 2018 @ TIME TBD (FRIDAY) </strong>
          <h6><strong>BIOMED and College of Engineering Group Visit and Open House</strong></h6>
        </p>
        <p>Includes: Campus Tour, Lab Tour, Graduate Program Overview, Meet and Chat with advisors and current students </p>
        <table class="button">
          <tr>
            <td>
              <table>
                <tr>
                  <td><a href="#">Register for visit</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
        <p>
          Please let me know if you have any questions or need more information. We are hoping to meet you in person at one of the events.
        </p>
        <p><br></p>
        <p>
          Best,<br>
          Natalia and Sherry
        </p>
        <p><br></p>
      </th>
      <th class="last small-12 large-4 columns">
        <center>
          <img class="float-center" align="center" alt="Biomed Labs" src="http://drexel.edu/~/media/Images/biomed/email/3-Drone-Kapils-Lab-sm.ashx" />
          <br>
          <img class="float-center" align="center" alt="Biomed Labs" src="http://drexel.edu/~/media/Images/biomed/email/visit-lab.ashx" />
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>

    </tr>
  </tbody>
</table>
<!-- table.row>tbody>tr>th.first.last.small-12.large-12.columns -->