---
layout: ffe2-mabd-coe
source: biomed_email
campaign: visit_campus
preheader: "Interested in visiting our campus in the beautiful city of Philadelphia?"
---

<table class="row preheader" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"><%= current_page.data.preheader %></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue" role="presentation">
  <tbody>
    <tr>
      <th style="vertical-align: middle;" class="first pad-top small-5 large-5 columns" vertical-align="middle">
        <a href="https://drexel.edu/engineering">
          <img class="float-center white-text" align="center" alt="College of Engineering" src="http://drexel.edu/~/media/Images/engineering/ui/Engineering_primary.ashx" />
        </a>
      </th>
      <th style="vertical-align: middle;" class="pad-top small-1 large-1 columns"><center><h2 class="white-text">+</h2></center></th>
      <th style="vertical-align: middle;" class="last pad-top small-5 large-5 columns" vertical-align="middle">
        <a href="https://drexel.edu/biomed">
          <img class="float-center white-text" align="center" alt="School of Biomed" src="http://drexel.edu/~/media/Images/biomed/email/biomed-gold-white-primary-png.ashx" />
        </a>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-yellow" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <h1 class="blue-text"><center>The College of Engineering + <br>The School of Biomedical Engineering, Science and Health Systems <br>Inaugural Joint Open House</center></h1>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <img class="float-center" align="center" alt="Always Sunny in Philadelphia" src="http://drexel.edu/~/media/Images/biomed/email/visit-campus.ashx" />
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>Dear All:</p>
        <p>The College of Engineering and the School of Biomedical Engineering, Science and Health Systems will be hosting an Inaugural Joint Open House to showcase Drexel’s innovation and collaboration in engineering research and graduate studies. This novel event will include an overview of Master’s and Doctoral programs, brief introduction to members of our faculty and their research, an opportunity to meet with current students and admissions staff, as well as laboratory and campus tours. </p>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first small-12 large-8 columns">
        <p>
          The event will take place on Friday, April 6, 2018 starting at 10 AM in the Bossone Research Enterprise Center located at 3140 Market Street, Philadelphia, PA 19104.
        </p>
        <p>
          <strong>All prospective and accepted students interested in the following disciplines are invited to attend:</strong>
        </p>
        <ul>
          <li> Architectural Engineering</li>
          <li>Biomedical Engineering and Biomedical Science</li>
          <li>Chemical Engineering</li>
          <li>Civil Engineering</li>
          <li>Computer Engineering</li>
          <li>Electrical Engineering</li>
          <li>Engineering Technology</li>
          <li>Environmental Engineering</li>
          <li>Materials Science and Engineering</li>
          <li>Mechanical Engineering</li>
        </ul>
        <p>
          <strong>Please register below to receive further information/attend.</strong>
        </p>
        <table class="button">
          <tr>
            <td>
              <table>
                <tr>
                  <td><a href="https://drexel.qualtrics.com/jfe/form/SV_etdGI8rtoUUcnQh">Register for visit</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
        <p>
          Best,<br>
          Natalia and Sherry
        </p>
        <p><br></p>
        <%= tag :img, :src => "#{track_opens_url}" %>
      </th>
      <th class="last small-12 large-4 columns">
        <center>
          <img class="float-center" align="center" alt="Flying Drones" src="http://drexel.edu/~/media/Images/biomed/email/3-Drone-Kapils-Lab-sm.ashx" />
          <br>
          <img class="float-center" align="center" alt="Biomed Lab Space" src="http://drexel.edu/~/media/Images/biomed/email/visit-lab.ashx" />
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
