---
layout: ffe2-mabd
source: biomed_email
campaign: welcome_week
preheader: "BIOMED New Student Orientation"
---

<table class="row preheader" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <!-- Preheader -->
        <div class="preheader"><%= current_page.data.preheader %></div>
        <!-- Preheader End -->
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row drexel-blue collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <%= home_link %>
            <img  class="float-center no-pad" align="center" src="http://drexel.edu/~/media/Images/biomed/email/biomed-logo-slim.ashx" alt="Drexel University | School of Biomed" />
          <%= end_link %>
        </center>
      </th>
      <th class="expander">
      </th>
    </tr>
  </tbody>
</table>
<table class="row drexel-yellow" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb pad-top">
        <h1 class="blue-text"><center>Welcome New Dragons!</center></h1>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row collapse" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns no-pb">
        <center>
          <img class="float-center" align="center" alt="Always Sunny in Philadelphia" src="http://drexel.edu/~/media/Images/biomed/email/mario-sunny-in-philly.ashx" />
        </center>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
<table class="row" role="presentation">
  <tbody>
    <tr>
      <th class="first last small-12 large-12 columns pad-top">
        <p>On Tuesday, September 18, 2018, the School of Biomedical Engineering, Science and Health Systems will hold its New Student Orientation as part of Welcome Week College Day 2018. Please see below for a detailed agenda for the day.</p>

        <p><strong>10:00 AM –  Welcome Remarks by the Dean – Paul Brandt-Rauf, PhD MD, DRPH</strong> <br>
        Location: Mandell Theater (3220 Chestnut Street, Philadelphia, PA 19104)</p>

        <p><strong>10:30 AM –  Undergraduate Academic Session (for all UG students)</strong> <br>
        Location: Mandell Theater (3220 Chestnut Street, Philadelphia, PA 19104)</p>

        <p><strong>10:30 AM –  Graduate Academic Session (for all GR students)</strong> <br>
        Location: Bossone 709 (3140 Market St, Philadelphia, PA 19104)</p>

        <p><strong>12:30 PM – Lunch “BIOMED Boardwalk” + Meet Mario the Magnificent (for all GR and UG students)</strong> <br>
        Location: Bossone 3rd Floor Patio (3140 Market St, Philadelphia, PA 19104)</p>

        <p><strong>2:15, 2:45, 3:15 PM – “Walk Your Schedule” (for all GR and UG students, optional)</strong><br>
        Location: Meet at the Bossone 1st Floor Elevators<br>
          <br></p>

        <p>We are looking forward to meeting you all in person!</p>

        <p>Faculty and Staff of the School of Biomedical Engineering, Science and Health Systems at Drexel University</p>
        <%= tag :img, :src => "#{track_opens_url}" %>
      </th>
      <th class="expander"></th>
    </tr>
  </tbody>
</table>
